{% extends 'detalle_ventana_nueva.html' %}
{% load crispy_forms_tags %}

{% block detalle %}
  <div class="row">
    <div class="col">
      <p>
        <strong>Fecha:</strong>
        {{ clase.reserva.fecha }}
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Hora Inicio:</strong>
        {{ clase.reserva.horario.hora_inicio }}
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Hora fin:</strong>
        {{ clase.reserva.horario.hora_fin }}
      </p>
    </div>
    <div class="col">
      <p>
        <strong>Lugar:</strong>
        {{ clase.reserva.aula }}
      </p>
    </div>
  </div>

  
  <div class="row">
    <div class="col">
      <h3>Alumnos Inscritos</h3>
      <ul>
        {% for alumno in alumnos_inscritos %}
          <li>{{ alumno.nombre }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h3>Alumnos que Asistieron</h3>
      <form method="post" action="{% url 'cursos:marcar_asistencia' clase.id %}">
        {% csrf_token %}
        {% for alumno in alumnos_inscritos %}
          <label>
            {{ alumno.nombre }}
            <input type="checkbox" name="alumnos_asistencia" value="{{ alumno.id }}"
              {% if alumno in alumnos_asistieron %}checked{% endif %}>
          </label><br>
        {% endfor %}
        <button type="submit">Guardar Asistencia</button>
      </form>
    </div>
  </div>

  {% block botones %}
  <div class="col d-flex justify-content-center">
    <form method="post" action="{% url 'cursos:clase_detalle' curso_pk=dictado.curso.pk dictado_pk=dictado.pk clase_pk=clase.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary btn-detalle">Tomar Asistencia</button>
    </form>
  </div>
  {% endblock %}
  
  {% endblock %}
  {% block listado_asociado %}

{% endblock %}
