{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
  <link href="{% static 'css/alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block container %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">No se pudo cargar el formulario comunicarse con soporte</div>
    <p>{{ form.errors }}</p>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="border p-3 mb-3 curso-form rounded-5">
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}

{% if mensaje %}
  <div class="alert alert-info" role="alert">registro finalizado exitosamente</div>
{% endif %}
