{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  {% comment %} <link href="{% static 'css  /afiliado_alta.css' %}" rel="stylesheet" /> {% endcomment %}
{% endblock %}

{% block dinamica %}
<h2>Actualizar Afiliado</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }} {# Renderiza el formulario con etiquetas <p> #}
  <button type="submit" class="btn btn-primary">Actualizarv2</button>
</form>
<a href="{% url 'afiliados:afiliado_listar_activos' %}">Volver a la lista de afiliados</a>
{% endblock %}

{% block extrajs_intermedia %}
  {% comment %} <script src="{% static 'js/afiliado_alta.js' %}"></script> {% endcomment %}
{% endblock %}
