{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/afiliado_confirm_delete.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div class="container">
    <h1 class="titulo">{{ titulo }}</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="profile-container">
          <div class="profile-image">
            <img src="{% static 'images/perfil.jpg' %}" alt="Profile Image" class="img-thumbnail" />
            <p class="status">
              {% if afiliado.estado == 1 %}
                <span class="pending-status">PENDIENTE</span>
              {% elif afiliado.estado == 2 %}
                <span class="active-status">ACTIVO</span>
              {% elif afiliado.estado == 3 %}
                <span class="inactive-status">INACTIVO</span>
              {% endif %}
            </p>
          </div>
          <div class="profile-details">
            <br />
            <h2>Datos Personales</h2>
            <p>
              <strong>Nombre:</strong> {{ afiliado.persona.nombre }}
            </p>
            <p>
              <strong>Apellido:</strong> {{ afiliado.persona.apellido }}
            </p>
            <p>
              <strong>DNI:</strong> {{ afiliado.persona.dni }}
            </p>
            <p>
              <strong>Fecha de nacimiento:</strong> {{ afiliado.persona.fecha_nacimiento }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="affiliation-details">
          <h2>Datos de Afiliación</h2>
          <p>
            <strong>Razón Social:</strong> {{ afiliado.razon_social }}
          </p>
          <p>
            <strong>Domicilio (empresa):</strong> {{ afiliado.domicilio_empresa }}
          </p>
          <p>
            <strong>Fecha ingreso trabajo:</strong> {{ afiliado.fechaIngresoTrabajo }}
          </p>
          <p>
            <strong>Fecha de afiliación:</strong> {{ afiliado.fechaAfiliacion }}
          </p>
          <p>
            <strong>CUIT (empleado):</strong> {{ afiliado.cuit_empleador }}
          </p>
          <p>
            <strong>Localidad (empresa):</strong> {{ afiliado.localidad_empresa }}
          </p>
          <p>
            <strong>Sueldo:</strong> {{ afiliado.sueldo }}
          </p>
          <p>
            <strong>Categoría laboral:</strong> {{ afiliado.categoria_laboral }}
          </p>
          <p>
            <strong>Rama:</strong> {{ afiliado.rama }}
          </p>
          <p>
            <strong>Hora Jornada:</strong> {{ afiliado.horaJornada }}
          </p>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <div class="container">
        <div class="row">
          <div class="col">
            {% if afiliado.estado == 1 or afiliado.estado == 2 %}
              <a href="{% url 'afiliados:afiliado_actualizar' afiliado.pk %}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Modificar</a>
            {% endif %}
          </div>
          <div class="col">
            <a target="_blank" href="#" class="btn btn-primary"><i class="fas fa-users"></i> Grupo Familiar</a>
            {% comment %} <a target="_blank" href="{% url 'afiliados:grupo_familiar' afiliado.pk %}" class="btn btn-primary"><i class="fas fa-users"></i> Grupo Familiar</a> {% endcomment %}
          </div>
          <div class="col">
            {% if afiliado.estado == 2 %}
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_desafiliar"><i class="fas fa-arrow-down"></i> Dar de baja</button>
              <div class="modal fade" id="exampleModal_desafiliar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>¿Estás seguro de que deseas desafiliar?</h5>
                    </div>
                    <div class="modal-footer">
                      <a href="{% url 'afiliados:desafiliar_afiliado' afiliado.pk %}" class="btn btn-danger">Confirmar</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if afiliado.estado == 1 %}
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal_aceptar">Aceptar</button>
              <div class="modal fade" id="exampleModal_aceptar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <h5>¿Estás seguro de que deseas aceptar al afiliado?</h5>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <a href="{% url 'afiliados:aceptar_afiliado' afiliado.pk %}" class="btn btn-success">Aceptar</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs_intermedia %}
  {% comment %} <script src="{% static 'js/afiliado_confirm_delete.js' %}"></script> {% endcomment %}
{% endblock %}
