{% extends 'listado_afiliado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block botones %}
  <a href="{% url 'afiliados:afiliado_crear' %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-solid fa-plus"></i> Nuevo</a>
{% endblock %}

{% block tabla_listado %}
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Dni</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">CUIT empleador</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for afiliado in object_list %}
        <tr>
          <td>{{ afiliado.persona.dni }}</td>
          <td>{{ afiliado.persona.apellido }}</td>
          <td>{{ afiliado.persona.nombre }}</td>
          <td>{{ afiliado.cuit_empleador }}</td>
          <td>
            {% if afiliado.estado == 1 %}PENDIENTE{% endif %}
            {% if afiliado.estado == 2 %}ACTIVO{% endif %}
            {% if afiliado.estado == 3 %}INACTIVO{% endif %}
          </td>
          <td class="text-end">
            {% if afiliado.estado == 1 %}
              <button type="button" class="btn btn-success btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#modal_afiliar_{{ afiliado.pk }}"><i class="fa-regular fa-circle-down"></i> Afiliar</button>
              {% include 'modal_confirm_alta.html' with object=afiliado %}
            {% endif %}
            
            {% if afiliado.estado == 2 %}
              <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#modal_desafiliar_{{ afiliado.pk }}"><i class="fa-regular fa-circle-down"></i> Desafiliar</button>
              {% include 'modal_confirm_baja.html' with object=afiliado %}
            {% endif %}
            <a href="{% url 'afiliados:afiliado_detalle' afiliado.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>            
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
