{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/afiliado_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
      <div class="col">
        <h1 id="titulo">{{ titulo }}</h1>
      </div>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <fieldset>
      <div class="container border p-3 mb-3 col-md-7 offset-md-3" id="datos-personales">
        <h3>Datos personales</h3>
        <br />
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
          {% comment %}DNI{% endcomment %}
          <div class="col">
            <span>Dni *</span>
            <p>
              {% if form.dni.errors %}
                {% for error in form.dni.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.dni }}
              <br />
              <span>
                {% if form.dni.help_text %}
                  <small class="text-muted">{{ form.dni.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}CUIL{% endcomment %}
          <div class="col">
            <span>Cuil *</span>
            <p>
              {% if form.cuil.errors %}
                {% for error in form.cuil.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.cuil }}
              <br />
              <span>
                {% if form.cuil.help_text %}
                  <small class="text-muted">{{ form.cuil.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}NOMBRE{% endcomment %}
          <div class="col">
            <span>Nombre/s *</span>
            <p>
              {% if form.nombre.errors %}
                {% for error in form.nombre.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.nombre }}
              <br />
              <span>
                {% if form.nombre.help_text %}
                  <small class="text-muted">{{ form.nombre.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}APELLIDO{% endcomment %}
          <div class="col">
            <span>Apellido/s *</span>
            <p>
              {% if form.apellido.errors %}
                {% for error in form.apellido.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.apellido }}
              <br />
              <span>
                {% if form.apellido.help_text %}
                  <small class="text-muted">{{ form.apellido.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}FECHA DE NACIMIENTO{% endcomment %}
          <div class="col">
            <span>Fecha de nacimiento *</span>
            <p>
              {% if form.fecha_nacimiento.errors %}
                {% for error in form.fecha_nacimiento.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.fecha_nacimiento }}
              <br />
              <span>
                <small id="fecha-nacimiento-error" class="error-text blink-text"></small>
                {% if form.fecha_nacimiento.help_text %}
                  <small class="text-muted">{{ form.fecha_nacimiento.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}EMAIL{% endcomment %}
          <div class="col">
            <span>Email *</span>
            <p>
              {% if form.mail.errors %}
                {% for error in form.mail.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.mail }}
              <br />
              <span>
                <small id="email-error" class="error-text blink-text"></small>
                <br />
                {% if form.mail.help_text %}
                  {% comment %} <small class="text-muted">{{ form.mail.help_text }}</small> {% endcomment %}
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}DIRECCION Y NUMERO{% endcomment %}
          <div class="col">
            <span>Dirección y numero *</span>
            <p>
              {% if form.direccion.errors %}
                {% for error in form.direccion.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.direccion }}
              <br />
              <span>
                {% if form.direccion.help_text %}
                  <small class="text-muted">{{ form.direccion.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}CELULAR{% endcomment %}
          <div class="col">
            <span>Celular *</span>
            <p>
              {% if form.celular.errors %}
                {% for error in form.celular.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.celular }}
              <br />
              <span>
                {% if form.celular.help_text %}
                  <small class="text-muted">{{ form.celular.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}NACIONALIDAD{% endcomment %}
          <div class="col">
            <span>Nacionalidad *</span>
            <p>
              {% if form.nacionalidad.errors %}
                {% for error in form.nacionalidad.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.nacionalidad }}
              <br />
              <span>
                {% if form.nacionalidad.help_text %}
                  <small class="text-muted">{{ form.nacionalidad.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
          {% comment %}ESTADO CIVIL{% endcomment %}
          <div class="col">
            <span>Estado civil *</span>
            <p>
              {% if form.estado_civil.errors %}
                {% for error in form.estado_civil.errors %}
                  <small class="error-text blink-text">{{ error|safe }}</small>
                {% endfor %}
              {% endif %}
              {{ form.estado_civil }}
              <br />
              <span>
                {% if form.estado_civil.help_text %}
                  <small class="text-muted">{{ form.estado_civil.help_text }}</small>
                {% endif %}
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="container border p-3 mb-3 col-md-6 offset-md-3" id="datos-laborales">
        <h3>Datos de afiliación</h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
          <div class="col">
            <p>Razon social * {{ form.razon_social }}</p>
          </div>
          <div class="col">
            <p>Categoria laboral * {{ form.categoria_laboral }}</p>
          </div>
          <div class="col">
            <p>Rama a la que se dedica * {{ form.rama }}</p>
          </div>
          <div class="col">
            <p>Sueldo * {{ form.sueldo }}</p>
          </div>
          <div class="col">
            <p>Fecha Afiliación * {{ form.fechaAfiliacion }}</p>
          </div>
        </div>

        <h3>Datos empresariales</h3>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
          <div class="col">
            <p>Fecha de ingreso * {{ form.fechaIngresoTrabajo }}</p>
          </div>
          <div class="col">
            <p>Cuit empleador * {{ form.cuit_empleador }}</p>
          </div>
          <div class="col">
            <p>Localidad empresa * {{ form.localidad_empresa }}</p>
          </div>
          <div class="col">
            <p>Domicilio de la empresa * {{ form.domicilio_empresa }}</p>
          </div>
          <div class="col">
            <p>Hora jornada * {{ form.horaJornada }}</p>
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
          <div class="col">
            <a href="{% url 'afiliados:index' %}" class="btn btn-danger">Cancelar</a>
          </div>
          <div class="col">
            <button type="button" class="btn btn-info" id="btn-siguiente">Siguiente</button>
            <button type="button" class="btn btn-secondary" id="btn-anterior">Atrás</button>
          </div>
          <div class="col">
            <input type="submit" value="Finalizar" class="btn btn-success" id="btn-guardar" />
          </div>
        </div>
      </div>
    </fieldset>
  </form>
{% endblock %}

{% block extrajs_intermedia %}
  <script src="{% static 'js/afiliado_alta.js' %}"></script>
{% endblock %}
