{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
<link href="{% static 'css/afiliado_listado.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
<h2 class="titulo"> {{ titulo }} </h2>
<div class="container-sm">
  <div class="table-responsive ">
    <table class="table table-striped table-hover table-secondary ">
      <thead>
        <tr>
          <th scope="col" style="border-left-width: 0px; padding-left: 20px;">Dni</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha nacimiento</th>
          <th scope="col">CUIT empleador</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
          <!-- {% comment %}<th scope="col" class="text-center">Opcion</th>{% endcomment %} -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr> -->
        {% for afiliado in object_list %}
        <tr class="bg-transition fila-personalizada">
          <td style="border-left-width: 0px; padding-left: 20px;">{{ afiliado.persona.dni }}</td>
          <td>{{ afiliado.persona.apellido }}</td>
          <td>{{ afiliado.persona.nombre }}</td>
          <td>{{ afiliado.persona.fecha_nacimiento }}</td>
          <td>{{ afiliado.cuit_empleador }}</td>
          <!-- {% comment %}
          <td>
            <a href="{% url 'cursos:ver_dictados' profesor.pk %}" class="btn btn-primary">Dictados</a>
          </td>
          <td>
            <a href="{% url 'cursos:inscripcion' profesor.pk %}" class="btn btn-primary">Inscripción</a>
          </td>
          {% endcomment %} -->

          {% if afiliado.estado == 1 %}
          <td>PENDIENTE</td>
          {% endif %}

          {% if afiliado.estado == 2 %}
          <td>ACTIVO</td>
          {% endif %}

          {% if afiliado.estado == 3 %}
          <td>INACTIVO</td>
          {% endif %}

          <td>
            <a href="{% url 'afiliados:Afiliado' afiliado.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="container ">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">

    <div class="col" id="btn-new-afiliado">
      <a href="{% url 'afiliados:afiliado_crear' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo</a>
    </div>
  </div>
</div>
</div>
{% block nav_lateral_filtro %}
{% include 'nav_filtro.html' %}
{% endblock %}
{% endblock %}