{% extends 'alta_gestion_afiliados.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"></button>
</form>

{% endblock %}

{% block extrajs_intermedia_00 %}
{% comment %} <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/base/jquery-ui.css" type="text/css"> {% endcomment %}
<link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
{% comment %} <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.js"></script> {% endcomment %}
<script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>


{% endblock %}
