{% load static %}
{% load selectable_tags %}
{% load selectable_tags %}
{% include_ui_theme %}
{% include_jquery_libs %}
{{ block.super }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sindicato Empleados De Comercio</title>
    <!-- Enlace a hojas de estilo CSS desde archivos estáticos -->
    <link href="{% static 'Libs/css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'Libs/bootstrap-5.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'Libs/css/base.css' %}" rel="stylesheet" />
    <link href="{% static 'Libs/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'Libs/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/brands.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'Libs/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/solid.css' %}" rel="stylesheet" />
    <!-- Icono de la pestaña del navegador desde archivos estáticos -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
  </head>
  <body>
    <!-- Contenido principal de la página que se puede sobrescribir en plantillas secundarias -->
    {% block container %}
    {% endblock %}

    <!-- Enlaces a scripts JavaScript -->
    <script src="{% static 'Libs/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="http://localhost:35729/livereload.js"></script> -->
    <script src="{% static 'Libs/js/jquery.min.js' %}"></script>
    <script src="{% static 'Libs/js/popper.min.js' %}"></script>
    <script src="{% static 'Libs/js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'Libs/fullcalendar-6.1.11/dists/index.global.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>


    {% block extrajs %}
    {% endblock %}
  </body>
</html>
