{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss %}
  <link href="{% static 'Libs/css/home.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/nav_top.css' %}" rel="stylesheet" />
  {% endblock %}

{% block container %}
  <div id="wrapper">
    <div id="sidebar">
      {% block nav_lateral %}
        {% include 'nav_principal.html' %}
      {% endblock %}
      
      <!-- Este div se mostrará al final del #sidebar -->
      <div id="messages-container">
        {% include 'message.html' %}
      </div>
    </div>


    <div id="content">
      {% block dinamica %}
      {% comment %} {% include 'nav_top.html' %} {% endcomment %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="mx-auto">
            <form class="d-flex" role="search" action="{% url 'personas:mostrar_detalle_persona' %}" method="get">
              <div class="row">
                <div class="col">
                  {{filter_form.dni}}
                </div>
              </div>
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
        </div>
      </nav>
      
      <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
      <script type="text/javascript" src="{% static 'Libs/js/jquery-1.11.2.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'Libs/js/jquery-iu.js' %}"></script>
      <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>
      
        {% include 'index.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'Libs/js/nav_principal.js' %}"></script>
{% endblock %}
