{% extends 'base.html' %}

{% load static %}

{% block extracss %}
  <link href="{% static 'Libs/css/home.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/nav_top.css' %}" rel="stylesheet" />
  {{ buscador.media.css }}
{% endblock %}

{% block container %}
  <div id="wrapper">
    <div id="sidebar">
      {% block nav_lateral %}
        {% include 'nav_principal.html' %}
      {% endblock %}
    </div>

    <div id="content">
      {% block nav_top %}
        {% include 'nav_top.html' %}
      {% endblock %}

      {% block dinamica %}
        {% include 'index.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
{% endblock %}
