{% load static %}
{% block dinamica %}
  {% block extracss %}
    <link href="{% static 'Libs/css/index.css' %}" rel="stylesheet" />
  {% endblock %}
  <script src="{% static 'Libs/highcharts/code/highcharts.js' %}"></script>
  <script src="{% static 'Libs/highcharts/code/modules/sankey.js' %}"></script>
  <script src="{% static 'Libs/highcharts/code/modules/organization.js' %}"></script>
  <script src="{% static 'Libs/highcharts/code/modules/exporting.js' %}"></script>
  <script src="{% static 'Libs/highcharts/code/modules/accessibility.js' %}"></script>

{% comment %} <script src="{% static 'Libs/highcharts/code/themes/brand-dark.js' %}"></script> {% endcomment %}
{% comment %} <script src="{% static 'Libs/highcharts/code/themes/dark-unica.js' %}"></script> {% endcomment %}
<script src="{% static 'Libs/highcharts/code/themes/dark-blue.js' %}"></script>
{% comment %} <script src="{% static 'Libs/highcharts/code/themes/gray.js' %}"></script> {% endcomment %}


<div style="position: absolute; width: 84%; height: 92%;">
  <!-- Contenedor del gráfico -->
  <div class="container" style="position: absolute; bottom: 0px; right: 0px; width: 40%; height: 98%;">
      <figure class="highcharts-figure">
          <div id="container"></div>
      </figure>
  </div>

<script>
Highcharts.chart('container', {
chart: {
  height: 600,
  inverted: true
},

title: {
  text: 'Organización de perfiles'
},

accessibility: {
  point: {
      descriptionFormat: '{add index 1}. {toNode.name}' +
          '{#if (ne toNode.name toNode.id)}, {toNode.id}{/if}, ' +
          'reports to {fromNode.id}'
  }
},

series: [{
  type: 'organization',
  name: 'Sindicato de Empleados de Comercio',
  keys: ['from', 'to'],
  data: [
  //PRINCIPAL
      ['SE2'], 
      //PRIMER NIVEL
      ['SE2', 'MA'],
      ['SE2', 'DF'],
      ['SE2', 'CO'],
      //SEGUNDO NIVEL

      //TERCER NIVEL
      ['DF', 'GC'],
      ['CO', 'GC'],
      ['CO', 'GA'],
      ['CO', 'GF'],
      ['CO', 'GU'],
      ['MA', 'GC'],
      ['MA', 'GA'],
      ['MA', 'GF'],
      ['DF', 'GU'],
      ['DF', 'GC'],
      ['DF', 'GA'],
      ['DF', 'GF'],
      ['DF', 'GU']


  ],
  levels: [{
      level: 0,
      color: '#21449c',
      height: 25
  }, {
      level: 1,
      color: '#a2a2a2', // fondo gris
      dataLabels: {
          color: 'black' //color de la letra
      },
      height: 25
  }, {
      level: 2,
      //color: '#980104'
      color: '#a2a2a2',
      dataLabels: {
        color: 'black' //color de la letra
    },

  },{
    level: 3,
    //color: '#980104'
    color: '#359154'

}
  ],
  nodes: [{
      id: 'MA',
      title: 'Administrador',
      name: 'userAdmin',
      image: ''
  },
  {
    id: 'DF',
    title: 'Diego Fabro',
    name: 'Diego',
    image: ''
},
  {
    id: 'SE2',
    title: '(Sindicato de Empleados de Comercio2)',
    name: 'SEC2',
    image: ''
},
  {
    id: 'CO',
    title: 'Martin Arcos',
    name: 'cozako',
    image: 'https://avatars.githubusercontent.com/u/107519498?v=4'
  },
  {
      id: 'GF',
      name: 'Gestion de Afiliados',
      color: '#359154',
      dataLabels: {
        color: 'white' // Letra en blanco
      }
  }, {
      id: 'GC',
      name: 'Gestión de Cursos',
      color: '#359154',
      dataLabels: {
        color: 'white' // Letra en blanco
      }
  }, {
      id: 'GA',
      name: 'Gestión de Alquileres',
      color: '#359154',
      dataLabels: {
        color: 'white' // Letra en blanco
      }
  },{
    id: 'GU',
    name: 'Gestión de Usuarios',
    color: '#359154',
    dataLabels: {
      color: 'white' // Letra en blanco
    }

  }],
  colorByPoint: false,
  color: '#007ad0',
  dataLabels: {
      color: 'white'
  },
  borderColor: 'white',
  nodeWidth: 'auto'
}],
tooltip: {
  outside: true
},
exporting: {
  allowHTML: true,
  sourceWidth: 800,
  sourceHeight: 600
}

});
</script>

    <!-- Contenedor del mensaje de bienvenida -->
    <div class="centrado" style="position: absolute; top: 25%; left: 30%; transform: translate(-50%, -50%);">
      <h1>¡Bienvenido {{ user.username }}!</h1>
      <p> Ultima conexión: {{user.date_joined}}</p>
      <p><em>"Establecer objetivos es el primer paso para hacer visible lo invisible" Tony Robbins</em></p>
      {% comment %} <p>Esperamos que tengas una gran experiencia.</p> {% endcomment %}
  </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}
