{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="mx-auto">
      <form class="d-flex" role="search" action="{% url 'personas:mostrar_detalle_persona' %}" method="get">
        <select name="enc_cliente" id="enc_cliente">
          <option value="0">Persona</option>
          {% for persona in clientes %}
            <option value="{{persona.id}}">{{persona.dni}} {{persona.nombre}} {{persona.apellido}}</option>
          {% endfor %}
        </select>                    
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2" disabled><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</nav>

<!-- Incluir archivos estáticos de Select2 desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script>
  $(function () {
    $("#enc_cliente").select2();

    // Agregar evento change al select
    $("#enc_cliente").change(function() {
      // Habilitar o deshabilitar el botón según el valor seleccionado
      $("#button-addon2").prop("disabled", $(this).val() === '0');
    });
  });
</script>