{% load static %}

{% block extracss %}
<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
<link href="{% static 'Libs/css/nav_lateral.css' %}" rel="stylesheet" />
{% endblock%}

<br>

<ul id="menu_principal">
  <h3 class="titulo-afiliado">SEC2</h3>
  <li><a href="#" id="mostrarMenuAfiliado"> <i class="fa-solid fa-person-dress"></i> Gestión de afiliados</a></li>
</ul>

<ul id="menu_afiliado">
  <h3 class="titulo-afiliado"> AFILIADOS </h3>
  <li><a id="mostrarMenuPrincipal" href="/home"><i class="fa-solid fa-arrow-left-long"></i> Volver</a></li>
  <li><a href="{% url 'afiliados:afiliado_crear' %}"><i class="fa-solid fa-plus"></i> Alta afiliado</a></li>
  <li><a href="{% url 'afiliados:afiliado_listar' %}">Lista de afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Aceptar afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Grupo Familiar</a></li>
</ul>

{% block extrajs %}
<script src="{% static 'Libs/js/nav_lateral.js' %}"></script>
{% endblock%}