{% load static %}

{% block extracss %}
  <link href="{% static 'Libs/css/nav_principal.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/nav_curso.css' %}" rel="stylesheet" />
{% endblock %}

<div class="menu" id="menu_principal">
  <br />
  <h3 class="titulo-menu">SEC2</h3>
  <ul class="menu">
    <li>
      <a href="#" id="mostrarMenuAfiliado"><i class="fa-solid fa-person-dress"></i> Gestión de Afiliados</a>
    </li>
    <li>
      <a href="#" id="mostrarMenuCurso"><i class="fa-solid fa-graduation-cap"></i> Gestión de Cursos</a>
    </li>
  </ul>
</div>

<div id="menu_afiliado_principal" style="display: none;">
  <!-- Menú Afiliados -->
  {% include 'nav_afiliado.html' %}
</div>

<div id="menu_curso_principal" style="display: none;">
  <!-- Menú Cursos -->
  {% include 'nav_curso.html' %}
</div>

{% block extrajs %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'Libs/js/nav_principal.js' %}"></script>
{% endblock %}
