{% load static %}

{% block extracss %}
<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
<link href="{% static 'Libs/css/nav_lateral_afiliado.css' %}" rel="stylesheet" />
{% endblock%}

<br>

<ul id="menu_afiliado">
  <h3 id="titulo-afiliados"> AFILIADOS</h3>
  <li><a id="mostrarMenuPrincipal" href="/home"><i class="fa-solid fa-arrow-left-long"></i> Volver</a></li>
  <li><a href="{% url 'afiliados:afiliado_crear' %}"><i class="fa-solid fa-plus"></i> Alta afiliado</a></li>
  <li><a href="{% url 'afiliados:afiliado_listar' %}"><i class="fa-solid fa-list"></i> Lista de afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}"><i class="fa-solid fa-check-to-slot"></i> Aceptar afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}"><i class="fa-regular fa-circle-down"></i> Baja de afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Grupo Familiar</a></li>
</ul>

{% block extrajs %}
{% endblock %}