{% load static %}

{% block extracss %}
<!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
<link href="{% static 'Libs/css/nav_lateral.css' %}" rel="stylesheet" />
{% endblock%}

<br>

<ul id="menu_principal">
  <h3 class="titulo-afiliado">BIENVENIDO</h3>
  <li><a href="#" id="mostrarMenuAfiliado">Gestión de afiliados</a></li>
</ul>

<ul id="menu_afiliado">
  <h3 class="titulo-afiliado"> AFILIADOS </h3>
  <li><a id="mostrarMenuPrincipal" href="/home">Volver al menú principal</a></li>
  <li><a href="{% url 'afiliados:afiliado_crear' %}">Alta afiliado</a></li>
  <li><a href="{% url 'afiliados:afiliado_listar' %}">Lista de afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Aceptar afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Afiliados</a></li>
  <li><a href="{% url 'afiliados:index' %}">Grupo Familiar</a></li>
</ul>

{% block extrajs %}
<script src="{% static 'Libs/js/nav_lateral.js' %}"></script>
{% endblock%}