/* Estilos generales */
.container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilos para el título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin: 10px 0;
}

.field-container {
    display: inline-block;
    /* Muestra los campos en la misma línea */
    width: 45%;
    /* Ajusta el ancho del contenedor según tus necesidades */
}

.field-wrapper {
    margin: 10px 0;
}

/* Estilos para el texto de error */
.error-text {
    color: red;
    font-size: 14px;
}

/* Estilos para los botones */
.btn {
    margin: 5px;
}

.btn-secondary {
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}