/* Estilos generales */
.container-sm {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título del curso */
h1 {
    text-align: center;
    color: #007bff;
}

/* Datos del curso */
.container-sm h1 {
    font-size: 24px;
    color: #333;
}

/* Botones de acción */
.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #555e66;
}

/* Tabla de dictados */
.table {
    margin-top: 20px;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table td {
    background-color: #f5f5f5;
}

.bg-transition {
    transition: background-color 0.3s;
}

.bg-transition:hover {
    background-color: #f0f0f0;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    max-width: 130%;
    width: 25%;
    margin-right: 20%;
    margin-left: 5%;
}