body {
    max-height: 200px;
    overflow-y: auto;
}

/* Agrega estilos CSS personalizados para hacer el formulario más pequeño */
.smaller-form {
    max-width: 300px;
    /* Define el ancho máximo del formulario */
    margin: 0 auto;
    /* Centra el formulario horizontalmente */
}