.fila-personalizada td {
    height: 100%;
    /* Ajusta la altura de las filas según tus necesidades */
    /* Otros estilos personalizados */
    /* padding: 0; */
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    /* Alinea verticalmente el contenido en el centro */
}

.btn-detalle {
    font-size: 12px;
    /*Ajusta el tamaño de fuente del botón según tus necesidades */
    padding: 5px 10px;
    /*Ajusta el espaciado interno del botón según tus necesidades*/
    margin-top: 5px;
    margin-bottom: 5px;
}