{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/detalle.css' %}" rel="stylesheet" />
  <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div class="container-sm">
    <h2 class="titulo">{{ titulo }}</h2>
    <br />
    <div class="row">
      {% block detalle_lado_izquierdo %}

      {% endblock %}

      {% block detalle_lado_derecho %}

      {% endblock %}

      <br />

      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Día</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Aula</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% block horarios %}

          {% endblock %}
        </tbody>
      </table>

      <br />
      <br />

      <div class="row">
        {% block botones %}

        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container-sm">
    <h3 class="subtitulo">{{ tituloListado }}</h3>
    {% block listado_asociado %}

    {% endblock %}
    {% include 'pagination.html' %}
  </div>
{% endblock %}
