<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha Inicio</th>
      <th>Cupo</th>
      <th>Desc</th>
      <th>Duración</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for dictado in dictados %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ dictado.fecha }}</td>
      <td>0/{{ dictado.cupo }}</td>
      <td>{{ dictado.descuento }} %</td>
      <td>{{ dictado.modulos_por_clase }} hrs</td>
      <td class="text-end">
        <a href="{% url 'cursos:dictado_detalle' curso_pk=dictado.curso.pk dictado_pk=dictado.pk %}" class="btn btn-primary btn-detalle btn-sm"><i class="fa-regular fa-eye"></i> Detalle</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>