{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
<br>
  <h3 class="titulo">{{ titulo }}</h3>

  <br />

  <div class="container-sm">
    <div class="table-responsive">

    {% block tabla_listado %}
      {% endblock %}
    </dsdsiv>
  </div>


  <div class="container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1">
      <div class="col" id="btn-new-afiliado">
        {% block botones %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{% block nav_lateral_filtro %}
    {% include 'nav_filtro.html' %}
  {% endblock %}
{% endblock %}