{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/curso_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="border p-3 mb-3 curso-form">
          <h2 class="titulo">{{ titulo }}</h2>
          <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.actividad.id_for_label }}">Actividad:</label>
                  <br />
                  {{ form.actividad }}
                </div>

                <br />
                <div class="form-group">
                  <label for="{{ form.costo.id_for_label }}">Costo:</label>
                  <br />
                  {{ form.costo }}
                </div>

                <br />
                <div class="form-group">
                  <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                  <br />
                  {{ form.nombre }}
                  <small class="error-text" style="color: red;">{{ form.nombre.errors.0 }}</small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="{{ form.modulos.id_for_label }}">Módulos:</label>
                  <br />
                  {{ form.modulos }}
                </div>

                <br />
                <div class="form-group">
                  <label for="{{ form.periodo_pago.id_for_label }}">Período de pago:</label>
                  <br />
                  {{ form.periodo_pago }}
                </div>
                <br />
                <div class="form-group">
                  <label for="{{ form.descuento.id_for_label }}">Descuento:</label>
                  <br />
                  {{ form.descuento }}
                  <br>
                  <small class="help-text">{{ form.descuento.help_text }}</small><br />
                  <small class="error-text">{{ form.descuento.errors }}</small>
                </div>
                <br />
                <div class="form-group">
                  <label for="{{ form.certificado_medico.id_for_label }}">Requiere certificado:</label>
                  <br />
                  {{ form.certificado_medico }}
                </div>
              </div>
            </div>
            <br />
            <a href="{% url 'cursos:curso_listado' %}" class="btn btn-secondary">Volver</a>
            <button type="submit" name="crear_dictado" class="btn btn-secondary">Guardar y Crear Dictado</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs_intermedia %}

{% endblock %}
