{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br />

    <input type="hidden" name="{{ form.area.name }}" value="{{ form.area.initial }}" />

    <div class="row">
      <div class="col">
        {{ form.actividad.label_tag }}
        {{ form.actividad }}
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.nombre.label_tag }}
          {{ form.nombre }}
          {% include "error_campo.html" with field=form.nombre %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.costo.id_for_label }}">Costo:</label>
          <br />
          <input type="number" name="costo" step="1" min="1" required class="form-control" value="{{ form.costo.value|default:'' }}" />
          <small class="error-text" style="color: red;">{{ form.costo.error }}</small>
          <small class="form-text text-muted">{{ form.costo.help_text }}</small>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ form.modulos_totales.label_tag }}
          <input type="number" name="modulos_totales" step="1" min="1" required class="form-control" value="{{ form.modulos_totales.value|default:'' }}" />
          <small class="error-text" style="color: red;">{{ form.modulos_totales.error }}</small>
          <small class="form-text text-muted">{{ form.modulos_totales.help_text }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
          <br />
          {{ form.descripcion }}
          <small class="error-text" style="color: red;">{{ form.descripcion.error }}</small>
          <small class="form-text text-muted">{{ form.descripcion.help_text }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.requiere_certificado_medico }}
          <label for="{{ form.requiere_certificado_medico.id_for_label }}">{{ form.requiere_certificado_medico.label }}</label>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
