{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post" autocomplete="off">
    {% csrf_token %}

    <div class="row">
      <div class="col">
        {{ form.actividad.label_tag }}
        {{ form.actividad }}
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.nombre.label_tag }}
          {{ form.nombre }}
          {% include "error_campo.html" with field=form.nombre %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.area.id_for_label }}">Área:</label>
          {{ form.area }}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="{{ form.costo.id_for_label }}">Costo:</label>
          <br />
          <input type="number" name="costo" step="1" min="1" required class="form-control" value="{{ form.costo.value|default:'' }}" />
          {% include "error_campo.html" with field=form.costo %}
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ form.modulos_totales.label_tag }}
          <input type="number" name="modulos_totales" step="1" min="1" required class="form-control" value="{{ form.modulos_totales.value|default:'' }}" />
          {% include "error_campo.html" with field=form.modulos_totales %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
          <br />
          {{ form.descripcion }}
          {% include "error_campo.html" with field=form.descripcion %}
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
