{% extends 'listado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block tabla_listado %}
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Actividad</th>
        <th scope="col">Duración</th>
      </tr>
    </thead>

    <tbody>
      {% for curso in object_list %}
        <tr class="bg-transition fila-personalizada">
          <td>{{ forloop.counter }}</td>
          <td>{{ curso.nombre }}</td>
          <td>{{ curso.actividad.nombre }}</td>
          <td>{{ curso.get_duracion_display }}</td>
          <td>{{ curso.get_periodo_pago_display }}</td>
          <td>
            <a href="{% url 'cursos:curso_detalle' curso.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block botones %}
  <a href="{% url 'cursos:curso_crear' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo</a>
{% endblock %}
