{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br />
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="{{ form.actividad.id_for_label }}">Actividad:</label>
          <br />
          {{ form.actividad }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ form.periodo_pago.id_for_label }}">Período de pago:</label>
          <br />
          {{ form.periodo_pago }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ form.costo.id_for_label }}">Costo:</label>
          <br />
          {{ form.costo }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre del curso:</label>
          <br />
          {{ form.nombre }}
          <small class="error-text" style="color: red;">{{ form.nombre.error }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.descuento.id_for_label }}">Descuento:</label>
          <br />
          {{ form.descuento }}
          <br />
          {% if form.descuento.errors %}
            <small class="error-text">
              {% for error in form.descuento.errors %}
                <i class="fas fa-times"></i> {{ error }}
                {% if not loop.last %}
                  <br />
                {% endif %}
              {% endfor %}
            </small>
          {% endif %}
          <small class="help-text">{{ form.descuento.help_text }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="{{ form.certificado_medico.id_for_label }}">Requiere certificado:</label>
          <br />
          {{ form.certificado_medico }}
        </div>
      </div>
    </div>

    <br />
    <a href="{% url 'cursos:curso_listado' %}" class="btn btn-secondary">Volver</a>
    <button type="submit" name="crear_dictado" class="btn btn-secondary">Guardar y Crear Dictado</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
{% endblock %}
