{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br />
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="{{ form.actividad.id_for_label }}">Actividad:</label>
          <br />
          {{ form.actividad }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ form.duracion.id_for_label }}">Duración:</label>
          <br />
          {{ form.duracion }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="{{ form.capacidad_maxima.id_for_label }}">Capacidad:</label>
          <br />
          {{ form.capacidad_maxima }}
          <small class="help-text">{{ form.capacidad_maxima.help_text }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre del curso:</label>
          <br />
          {{ form.nombre }}
          <small class="error-text" style="color: red;">{{ form.nombre.error }}</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.descripcion.id_for_label }}">Descripción del curso:</label>
          <br />
          {{ form.descripcion }}
          <small class="error-text" style="color: red;">{{ form.descripcion.error }}</small>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
