{% extends 'detalle.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block detalle_lado_izquierdo %}
  <div class="col-md-3 d-flex align-items-center justify-content-center">
    <img src="{% static 'images/curso.jpg' %}" style="width: 60%; height: auto;" alt="Imagen de perfil" class="img-thumbnail" />
  </div>
{% endblock %}

{% block detalle_lado_derecho %}
  <div class="col-md-9">
    <!-- Contenido nuevo -->
    <div class="row">
      <!-- Primera Fila: Actividad -->
      <div class="col-md-12">
        <div class="d-flex flex-column justify-content-between">
          <p>
            <strong>Descripción:</strong> {{ curso.descripcion }}
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Segunda Fila: Descripción -->
      <div class="col-md-12">
        <p>
          <strong>Actividad:</strong> {{ curso.actividad }} | {{ curso.actividad.get_area_display }}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Limite de capacidad:</strong> {{ curso.capacidad_maxima }} participantes
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Duración:</strong> {{ curso.get_duracion_display }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}

{% block botones %}
  <div class="col d-flex justify-content-center">
    <a href="{% url 'cursos:curso_editar' curso.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a>
  </div>

  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button>
    {% include 'curso/modal_confirm_baja.html' %}
  </div>
{% endblock %}

{% block listado_asociado %}
  {% if dictados_info %}
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Dictado</th>
          <th>Profesor</th>
          <th>Inscriptos</th>
          <th>Costo</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for dictado_info in dictados_info %}
          <tr>
            <td>{{ dictado_info.numero }}</td>
            <td>{{ dictado_info.dictado.nombre }}</td>
            <td>{{ dictado_info.nombre_profesor }}</td>
            <td>0/{{ dictado_info.dictado.maximos_alumnos }}</td>
            <td>${{ dictado_info.dictado.costo }} x {{ dictado_info.dictado.get_periodo_pago_display }}</td>

            <td>
              <a 
              href="{% url 'cursos:dictado_detalle' curso_pk=curso.pk dictado_pk=dictado_info.dictado.pk %}" 
              class="btn btn-primary btn-detalle"
              onclick="window.open('{% url 'cursos:dictado_detalle' curso_pk=curso.pk dictado_pk=dictado_info.dictado.pk %}', 'NuevaVentana', 'width=800, height=625'); return false;"
              >
              <i class="fa-regular fa-eye"></i> Detalle</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay dictados asociados.</p>
  {% endif %}
  <a href="{% url 'cursos:dictado_crear' curso.pk %}" class="btn btn-primary btn-detalle" onclick="window.open('{% url 'cursos:dictado_crear' curso.pk %}', 'NuevaVentana', 'width=800, height=625'); return false;"><i class="fa-solid fa-plus"></i> Nuevo</a>
{% endblock %}
