{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
{% endblock %}

{% block container %}
  <br />
  <h3 class="titulo">{{ titulo }}</h3>
  <div class="container">
    {% include 'message.html' %}
    <div class="row justify-content-center">

      {% if lista_espera %}
      <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Rol</th>
              <th>Fecha</th>
              {% include 'tabla_persona_cabecera.html' %}
              <th>Celular</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for lista in lista_espera %}
            <tr>
              <td class="negrita">{{ forloop.counter }}</td>
              <td>{{ lista.rol.obtenerTipo }}</td>
              <td>{{ lista.fechaInscripcion|date:"y/m/d" }} </td>
              {% include 'tabla_persona_cuerpo.html' with persona=lista.rol.persona %}
              <td>{{ lista.rol.persona.celular }}</td>

              <td class="text-end">
                <button class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal"
                data-bs-target="#modal_eliminar_sacar_lista_espera_{{ lista.pk }}"
                >
                Eliminar
              </button>
              </td>


              {% with tipo_persona=inscrito_listaEspera.persona.es_afiliado|yesno:"Afiliado," %}
              {% with tipo_persona_grupo_familiar=inscrito_listaEspera.persona.es_grupo_familiar|yesno:"Familiar," %}
              {% with tipo_persona_profesor=inscrito_listaEspera.persona.es_profesor|yesno:"Profesor," %}
              {% with tipo_persona_es_alumno=inscrito_listaEspera.persona.es_alumno|yesno:"Alumno," %}
              <td>
              {{ tipo_persona }}
              {{ tipo_persona_grupo_familiar }} 
              {{ tipo_persona_profesor }}
              {% if not tipo_persona and not tipo_persona_grupo_familiar and not tipo_persona_profesor %}
              {{ tipo_persona_es_alumno }}
              {% endif %}
              </td>



              <td class="text-end">
                {% if hay_cupo %}
                <button class="btn btn-success btn-sm btn-detalle" data-bs-toggle="modal"
                    data-bs-target="#modal_inscribir_sacar_lista_espera_{{ inscrito_listaEspera.persona.pk }}"
                    data-tipo="{{ tipo_persona|default:'' }}{{ tipo_persona_grupo_familiar|default:'' }}{{ tipo_persona_profesor|default:'' }}{{ tipo_persona_es_alumno|default:'' }}">
                    Inscribir
                  </button>
                  {% endif %}
                </td>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}

                {% include "curso/modal_confirm_sacar_lista_espera.html"  %}



                {% comment %} {% include "dictado/modal_confirm_inscribir_lista_espera.html" with tipo=tipo_persona %} {% endcomment %}
              </tr>
        {% endfor %}
        </tbody>
        </table>
      {% else %}
        <p>No hay Inscritos en la lista todavía.</p>
      {% endif %}
    </div>
    <div class="d-flex justify-content-between">
      <a href="{% url 'cursos:verificar_persona' curso_pk=curso_pk %}" 
         class="btn btn-primary btn-sm">
          <i class="fa-regular fa-pen-to-square"></i> Agregar
      </a>
      <div class="ml-auto">
          <button type="button" class="btn btn-sm btn-secondary" onclick="cerrarVentana()">Cerrar</button>
      </div>
  </div>
  </div>
  {% endblock %}

  {% block extrajs %}
  <script src="{% static 'Libs/js/cerrar_ventana.js' %}"></script>
  {% endblock %}