{% extends 'listado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block botones %}
  <a href="{% url 'cursos:curso_crear' %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-solid fa-plus"></i> Nuevo</a>
{% endblock %}

{% block tabla_listado %}
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Act</th>
        <th>Área</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Modulos</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for curso in object_list %}
        <tr class="bg-transition fila-personalizada">
          <td>{{ forloop.counter }}</td>
          <td>{{ curso.actividad }}</td>
          <td>{{ curso.get_area_display }}</td>
          <td>{{ curso.nombre }}</td>
          <td>
            {% if curso.es_convenio %}
              Convenio
            {% else %}
              SEC
            {% endif %}
          </td>
          <td>{{ curso.modulos_totales }} horas</td>
          <td>{{ curso. }} </td>
          <td class="text-end">
            <a href="{% url 'cursos:curso_detalle' curso.pk %}" class="btn btn-primary btn-detalle btn-sm"><i class="fa-regular fa-eye"></i> Detalle</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
