{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}

{% endblock %}

{% block dinamica %}
<div class="container border p-3 mb-3 col-md-7 offset-md-3">
  <h1 class="titulo">{{ titulo }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.nombre.label_tag }} {# Muestra la etiqueta del campo nombre #}
    <br>
    {{ form.nombre }} {# Muestra el campo nombre #}
    <small class="error-text blink-text" style="color: red;">{{ form.nombre.errors.0|safe }} </small>{# Muestra los errores del campo nombre, si los hay #}
    <br>
    <small class="text-muted  ">{{ form.nombre.help_text }}</small> {# Muestra el help_text del campo nombre #}
    <br><br>
    {{ form.area.label_tag }}
    <br>
    {{ form.area }}
    <br><br>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col"><a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a></div>
      <div class="col"><button type="submit" class="btn btn-primary">Guardar</button></div>
    </div>
  </form>
</div>
{% endblock %}

{% block extrajs_intermedia %}

{% endblock %}
