{% extends "home_curso.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
    <h1> Listado de Aulas </h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Denominación</th>
              <th scope="col">Tipo</th>
              <th scope="col">Cupo Máximo</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>                 
            </tr>
        </thead>
        <tbody>
                {% for obj in object_list %}
                    <tr class="bg-transition">
                        <td>{{ obj.denominacion }}</td>
                        <td>{{ obj.tipo }}</td>
                        <td>{{ obj.cupo }}</td>
                        <td><a href="{% url 'cursos:aula_editar' obj.pk %}"class="btn btn-primary">Editar</a></td>
                                                                 
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar">
                                eliminar
                            </button>
                            <div class="modal fade" id="exampleModal_eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div> 
                                        <div class="modal-body">
                                            <h5>¿Estas seguro que deseas eliminar el aula?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <a href="{% url 'cursos:aula_eliminar' obj.pk %}"class="btn btn-danger">eliminar</a>                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}  
        </tbody>
          
    </table>
    <a href="{% url 'cursos:aula_crear' %}"class="btn btn-primary">Nueva Aula</a>
{% endblock %}