{% extends 'listado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block tabla_listado %}
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Area</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for actividad in object_list %}
        <tr class="bg-transition fila-personalizada">
          <td>{{ actividad.nombre }}</td>
          <td>{{ actividad.get_area_display }}</td>
          <td>
            <a href="{% url 'cursos:actividad_detalles' actividad.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block botones %}
  <a href="{% url 'cursos:actividad_crear' %}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nuevo</a>
{% endblock %}
