{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/actividad_detalle.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <h3 class="titulo">Detalles de la Actividad</h3>
  <br />
  <div class="container border rounded border-primary p-3 mb-3 col-md-8 offset-md-2 custom-border">
    <br />
    <div class="row">
      <!-- Columna izquierda para la imagen -->
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        {% if object.area == 0 %}
          <img src="{% static 'images/capacitacion.jpg' %}" class="img-thumbnail img-custom" alt="Capacitación" />
        {% elif object.area == 1 %}
          <img src="{% static 'images/cultura.jpeg' %}" class="img-thumbnail img-custom" alt="Cultura" />
        {% else %}
          <img src="{% static 'images/gimnasio.jpg' %}" class="img-thumbnail img-custom" alt="Gimnasio" />
        {% endif %}
      </div>

      <!-- Columna derecha para la información -->
      <div class="col-md-8">
        <h4>Datos</h4>
        <div class="d-flex flex-column justify-content-between">
          <p>
            <strong>Nombre:</strong> {{ object.nombre }}
          </p>
          <p>
            <strong>Área:</strong> {{ object.get_area_display }}
          </p>
          <a href="{% url 'cursos:actividad_actualizar' object.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a>
          <br />

          <!-- Agrega un botón para abrir el modal de confirmación de baja -->
          <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_dar_de_baja"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button>
          <!-- Incluye el contenido del modal de confirmación de baja -->
          {% include 'actividad/modal_confirm_baja.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs_intermedia %}

{% endblock %}
