{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ form.nombre.label_tag }}
      <br />
      {{ form.nombre }}
      <small class="error-text" style="color: red;">{{ form.nombre.firt }}</small>
      <small class="text-muted">{{ form.nombre.help_text }}</small>
    </div>
    <div class="form-group">{{ form.area.label_tag }}
      {{ form.area }}</div>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block extrajs_intermedia %}

{% endblock %}
