{% extends 'detalle.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block detalle_lado_derecho %}
  <div class="col">
    <p>
      <strong>Nombre:</strong> {{ object.nombre }}
    </p>
  </div>
{% endblock %}

{% block botones %}
  <div class="col d-flex justify-content-center">
    <a href="{% url 'cursos:actividad_editar' object.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a>
  </div>

  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_dar_de_baja"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button>
    {% include 'actividad/modal_confirm_baja.html' %}
  </div>
{% endblock %}
