{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form  method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <label>Ingrese el nuevo inquilino:</label>
        <select name="enc_afiliado" id="enc_afiliado">
          <option value="0"> --------------- </option>
          {% for afiliado in listaEspera.all %}
          <option value="{{afiliado.pk}}">
            {{afiliado.persona.dni}} {{afiliado.persona.apellido}} {{afiliado.persona.nombre}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
      </div>
    </div>


    <br>
    <div class="row text-center">
      <div class="col">
        <button type="submit" class="btn btn-success" >Guardar</button>
      </div>
    </div>
{% endblock %}