{% extends 'home_alquiler.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/listado.css' %}" rel="stylesheet" />
  {% comment %} <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script> {% endcomment %}
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

    <style>
      #calendar a{
        color: black;
        text-decoration: none; /* Quitar subrayado */

      }

    </style>

{% endblock %}

{% block dinamica %}
{% comment %} <h3 class="titulo">{{ titulo }}</h3> {% endcomment %}
<br>

<div class="container-sm">
  <a href="{% url 'alquiler:alquiler_crear' %}" class="btn btn-outline-success btn-sm "><i class="fa-solid fa-plus"></i> Alquilar</a>
  <div id='calendar' style="width: 90%; color: black;">
  </div>
</div>


<br>
<div class="container-sm">
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>salon</th>
            <th>fecha_alquiler</th>
            <th>turno</th>
            <th>Capacidad</th>
            <th>afiliado</th>
            <th>Precio</th>
            <th></th>
          </tr>
        </thead>
    
        <tbody>
          {% for Alquiler in object_list %}
            <tr class="bg-transition fila-personalizada">
              <td>{{ forloop.counter }}</td>
              <td>{{ Alquiler.salon }}</td>
              <td>{{ Alquiler.fecha_alquiler }}</td>
              <td>{{ Alquiler.turno }}</td>
              <td>{{ Alquiler.salon.capacidad }}</td>
              <td>{{ Alquiler.afiliado }}</td>
              <td>{{ Alquiler.salon.precio }}</td>
              
              {% comment %} <td>
                <a href="{% url 'cursos:curso_detalle' curso.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
              </td>{% endcomment %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% block nav_lateral_filtro %}
    {% include 'nav_filtro.html' %}
  {% endblock %}
  {% block extrajs %}
        <script>
        conectarBotonesAModal('.btn-eliminar')
        </script>

        {% comment %} <script src="{% static 'libs/fullcalendar/main.js' %}"> </script> {% endcomment %}
        {% comment %} <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/locales/es.js'></script> {% endcomment %}

        <script>
            // Paso 1: Inicializar el calendario
            document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    // Paso 2: Configurar opciones
                    timeZone: 'UTC', // Zona horaria local
                    locale: 'es',
                    buttonText: {
                      today: 'Hoy'
                    },

                    initialView: 'dayGridMonth', // Vista inicial del calendario
                    // Paso 3: Definir eventos
                    events: [ 
                        {% for alquiler in object_list %}
                            {
                            title: "{{alquiler.salon}}",
                            start: "{{alquiler.fecha_alquiler | date:'c'}}",
                            url: '/home/app_alquileres/alquiler/{{alquiler.pk}}',
                            eventColor: '#FF5733' // Cambiar color del evento

                            //url: '/ordenes/ordenesTurnos/listarTurnos/detalleTurno/{{orden.pk}}',
                           // classNames: '{{orden.get_class_dot}}',
                            },
                        {% endfor %}
                    ]
                });
                // Paso 4: Renderizar el calendario
                calendar.render();
            });
        </script>
    {% endblock %}
{% endblock %}