{% extends 'detalle_listado.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block detalle %}
<h3> Datos del afiliado </h3>
{% include "persona_detalle.html" with persona=alquiler.afiliado.persona %}

<h3> Datos del alquiler </h3>

<div class="row row-cols-2 row-cols-sm-4 row-cols-md-6">
  <div class="col">
    <p class="negrita"> Salón: </p>
  </div>
  <div class="col">
    <p>{{ alquiler.salon }}</p>
  </div>

  <div class="col">
    <p class="negrita">Fecha de solicitud: </p>
  </div>
  <div class="col">
    <p>{{ alquiler.fecha_solicitud }}</p>
  </div>

  <div class="col">
    <p class="negrita">Fecha de alquiler: </p>
  </div>
  <div class="col">
    <p>{{ alquiler.fecha_alquiler }}</p>
  </div>
</div>


<div class="row row-cols-2 row-cols-sm-4 row-cols-md-6">
  <div class="col">
    <p class="negrita"> Turno: </p>
  </div>
  <div class="col">
    <p>{{ alquiler.turno }}</p>
  </div>

  <div class="col">
    <p class="negrita"> Seguro: </p>
  </div>
  <div class="col">
    <p>${{ alquiler.seguro }}</p>
  </div>
</div>
{% endblock %}


{% block botones %}

<div class="col">
  <a href="{% url 'alquiler:alquiler_listar' %}" class="btn btn-sm btn-secondary btn-detalle">
  <i class="fa-solid fa-arrow-left"></i> Volver
  </a>
</div>

<div class="col d-flex justify-content-center"> 
  <a href="#" 
    class="btn btn-warning btn-sm btn-detalle" 
    onclick="openOrFocusWindow(this.href, 'Lista de espera', 700, 400); return false;">
    <i class="fa-solid fa-list"></i>
    Lista de espera
  </a>
</div>

<div class="col d-flex justify-content-center"> 
  <a href="{% url 'afiliados:afiliado_detalle' alquiler.afiliado.pk %}" class="btn btn-sm btn-primary btn-detalle">
    <i class="fa-regular fa-user"></i> Ir al Afiliado
  </a>
</div>

<div class="col d-flex justify-content-end">
  <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar_alquiler"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button>
  {% include 'modal_confirm_baja_alquiler.html' %}

</div>

{% endblock %}

{% block extrajs_intermedia %}
<script>
  var listaEsperaWindow = null;

  function openOrFocusWindow(url, name, width, height) {
    // Verifica si la ventana ya está abierta
    if (listaEsperaWindow && !listaEsperaWindow.closed) {
      // Si está abierta, enfócala
      listaEsperaWindow.focus();
    } else {
      // Si no está abierta, abre una nueva ventana
      listaEsperaWindow = window.open(url, name, 'width=' + width + ',height=' + height);
    }
  }
</script>
{% endblock %}