{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
<br />

  <form method="post">
    {% csrf_token %}
    {% include 'persona_alta.html' %}

    <div class="row text-center">
      <div class="col">
        <button type="submit" name="guardar_y_recargar" value="guardar_y_recargar" class="btn btn-success">Guardar y Recargar</button>
      </div>
      <div class="col">
        <button type="submit" name="guardar_y_listar" value="guardar_y_listar" class="btn btn-success">Guardar y Listar</button>
      </div>
    </div>
  <form>
        
{% endblock %}