{% extends 'alta_ventana_nueva.html' %}
{% load static %}

{% block formulario %}
  <form  method="post">
    {% csrf_token %}

    <label>Ingrese DNI/nombre/apellido:</label>
    <div class="form-group">
      <select name="enc_afiliado" id="enc_afiliado">
        <option value="0"> --------------- </option>
        {% for afiliado in afiliados %}
          <option value="{{afiliado.pk}}">
            {{afiliado.persona.dni}} {{afiliado.persona.apellido}} {{afiliado.persona.nombre}}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="row text-center mt-3">
        <div class="col">
            <button type="submit" class="btn btn-success" >Guardar</button>
        </div>
    </div>

</form>
{% endblock %}

