{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br />
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
          {{ form.nombre }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.localidad.id_for_label }}">Localidad:</label>
          {{ form.localidad }}
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
          {{ form.direccion }}
          <small class="error-text" style="color: red;">{{ form.direccion.error }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.capacidad.label_tag }}
          {{ form.capacidad }}
          <small class="error-text" style="color: red;">{{ form.capacidad.error }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.encargado.label_tag }}
          {{ form.encargado }}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.precio.label_tag }}
          {{ form.precio }}
          <small class="error-text" style="color: red;">{{ form.precio.error }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.tipo_salon.label_tag }}
          {{ form.tipo_salon }}
          <small class="error-text" style="color: red;">{{ form.tipo_salon.error }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="{{ form.servicios.id_for_label }}">Servicios:</label>
          {{ form.servicios }}
          <small class="error-text" style="color: red;">{{ form.servicios.error }}</small>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'alquiler:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
