{% extends 'alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <br />

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
          {{ form.nombre }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="{{ form.localidad.id_for_label }}">Localidad:</label>
          {{ form.localidad }}
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
          {{ form.direccion }}
          <small class="error-text" style="color: red;">{{ form.direccion.error }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.capacidad.label_tag }}
          {{ form.capacidad }}
          <small class="error-text" style="color: red;">{{ form.capacidad.error }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
        <label class="form-label negrita">Encargado:</label>
          <select name="enc_encargado" id="enc_encargado" >
            <option value="0">  </option>
            {% for encargado in encargados %}
            <option value="{{ encargado.id }}">{{ encargado.persona.dni }} | {{encargado.persona.apellido}} {{encargado.persona.nombre}}</option>
            {% endfor %}
          </select>

          {{ form.encargado }}
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.precio.label_tag }}
          {{ form.precio }}
          <small class="error-text" style="color: red;">{{ form.precio.error }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.tipo_salon.label_tag }}
          {{ form.tipo_salon }}
          <small class="error-text" style="color: red;">{{ form.tipo_salon.error }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="{{ form.servicios.id_for_label }}">Servicios:</label>
          {{ form.servicios }}
          <small class="error-text" style="color: red;">{{ form.servicios.error }}</small>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'alquiler:salon_listar' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" name="guardar_y_recargar" value="guardar_y_recargar" class="btn btn-primary">Guardar y Recargar</button>
      </div>
      <div class="col">
        <button type="submit" name="guardar_y_listar" value="guardar_y_listar" class="btn btn-primary">Guardar y Listar</button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    $('.django-select2').on('change', () => console.log('hola'))
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <script>
    $(function () {
      $('#enc_encargado ').select2()
    })
  </script>

{% endblock %}
