{% extends 'app_alquiler_listado.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block botones %}
<a href="{% url 'alquiler:salon_crear' %}" class="btn btn-primary btn-sm  btn-detalle"><i class="fa-solid fa-plus"></i> Nuevo</a>

{% endblock %}

{% block tabla_listado %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Localidad</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Capacidad</th>
      <th>Precio</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    {% for Salon in object_list %}
      <tr class="bg-transition">
        <td>{{ forloop.counter }}</td>
        <td>{{ Salon.localidad }}</td>
        <td>{{ Salon.nombre }}</td>
        <td>{{ Salon.direccion }}</td>
        <td>{{ Salon.capacidad }}</td>
        <td>{{ Salon.precio }}</td>
        <td>detalle</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}