<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="{{ form.dni.id_for_label }}">Dni</label>
      {{ form.dni }}
      <span class="help-text">{{ form.dni.help_text }}</span>
      <span class="error-text">{{ form.dni.errors }}</span>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="{{ form.cuil.id_for_label }}">Cuil</label>
      {{ form.cuil }}
      <span class="help-text">{{ form.cuil.help_text }}</span>
      <span class="error-text">{{ form.cuil.errors }}</span>
    </div>
  </div>

  <div class="col">
    <label for="{{ form.nacionalidad.id_for_label }}">Nacionalidad</label>
    {{ form.nacionalidad }}
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="{{ form.nombre.id_for_label }}">Nombre</label>
      {{ form.nombre }}
      <small class="help-text">{{ form.nombre.help_text }}</small>
      <small class="error-text">{{ form.nombre.errors }}</small>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="{{ form.apellido.id_for_label }}">Apellido</label>
      {{ form.apellido }}
      <small class="help-text">{{ form.apellido.help_text }}</small>
      <small class="error-text">{{ form.apellido.errors }}</small>
    </div>
  </div>

  <div class="col">
    <label for="{{ form.estado_civil.id_for_label }}">Estado Civil</label>
    {{ form.estado_civil }}
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento</label><br />
      {{ form.fecha_nacimiento }}
      <small class="help-text">{{ form.fecha_nacimiento.help_text }}</small><br />
      <small class="error-text">{{ form.fecha_nacimiento.errors }}</small>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="{{ form.celular.id_for_label }}">Celular</label>
      {{ form.celular }}
      <small class="help-text">{{ form.celular.help_text }}</small>
      <small class="error-text">{{ form.celular.errors }}</small>
    </div>
  </div>

  <div class="col">
    <div class="form-group">
      <label for="{{ form.direccion.id_for_label }}">Dirección</label>
      {{ form.direccion }}
      <small class="help-text">{{ form.direccion.help_text }}</small><br />
      <small class="error-text">{{ form.direccion.errors }}</small>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label for="{{ form.mail.id_for_label }}">Correo Electrónico:</label>
    {{ form.mail }}
    <small class="help-text">{{ form.mail.help_text }}</small>
    <small class="error-text">{{ form.mail.errors }}</small>
  </div>
</div>
