<div class="modal fade" id="exampleModal_dar_de_baja_{{ obj.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ELIMINAR CURSO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">¿Estás seguro de que deseas dar de baja al profesor?</div>
      <div class="modal-footer">
        {% comment %} <a href="{% url 'cursos:profesor_eliminar' obj.pk %}" class="btn btn-danger">Confirmar Baja</a> {% endcomment %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
