{% extends 'home_curso.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extracss_intermedia %}
  <link href="{% static 'css/afiliado_formulario.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
  <div id="form-container" class="container">
    <h3 class="titulo">{{ titulo }}</h3>

    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs" id="form-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="tab-section-1" data-toggle="tab">Sección 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab-section-2" data-toggle="tab">Sección 2</a>
          </li>
        </ul>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="form-tabs-content">
            <div id="section1" class="tab-pane fade show active">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.dni.id_for_label }}">DNI:</label><br />
                    {{ form.dni }}
                    <br />
                    <span class="help-text">{{ form.dni.help_text }}</span>
                    <span class="error-text">{{ form.dni.errors }}</span>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.cuil.id_for_label }}">CUIL:</label><br />
                    {{ form.cuil }}
                    <br />
                    <span class="help-text">{{ form.cuil.help_text }}</span>
                    <span class="error-text">{{ form.cuil.errors }}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br />
                  <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}">Nombre:</label><br />
                    {{ form.nombre }}
                    <small class="help-text">{{ form.nombre.help_text }}</small><br />
                    <small class="error-text">{{ form.nombre.errors }}</small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <br />
                    <label for="{{ form.apellido.id_for_label }}">Apellido:</label><br />
                    {{ form.apellido }}
                    <small class="help-text">{{ form.apellido.help_text }}</small><br />
                    <small class="error-text">{{ form.apellido.errors }}</small>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <br />
                    <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento:</label>
                    <br />
                    {{ form.fecha_nacimiento }}
                    <small class="help-text">{{ form.fecha_nacimiento.help_text }}</small><br />
                    <small class="error-text">{{ form.fecha_nacimiento.errors }}</small>
                    <br />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <br />
                    <label for="{{ form.nacionalidad.id_for_label }}">Nacionalidad:</label>
                    {{ form.nacionalidad }}
                    <small class="help-text">{{ form.nacionalidad.help_text }}</small><br />
                    <small class="error-text">{{ form.nacionalidad.errors }}</small>
                    <br />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.celular.id_for_label }}">Celular:</label>
                    <br />
                    {{ form.celular }}
                    <br />
                    <small class="help-text">{{ form.celular.help_text }}</small><br />
                    <small class="error-text">{{ form.celular.errors }}</small>
                    <br />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.estado_civil.id_for_label }}">Estado Civil:</label><br />
                    {{ form.estado_civil }}
                    <small class="help-text">{{ form.estado_civil.help_text }}</small><br />
                    <small class="error-text">{{ form.estado_civil.errors }}</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.direccion.id_for_label }}">Dirección:</label><br />
                    {{ form.direccion }}
                    <br />
                    <small class="help-text">{{ form.direccion.help_text }}</small><br />
                    <small class="error-text">{{ form.direccion.errors }}</small>
                    <br />
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.mail.id_for_label }}">Correo Electrónico:</label>
                    <br />
                    {{ form.mail }}
                    <br />
                    <small class="help-text">{{ form.mail.help_text }}</small><br />
                    <small class="error-text">{{ form.mail.errors }}</small>
                    <br />
                  </div>
                </div>
              </div>
            </div>

            <div id="section2" class="tab-pane fade">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.capacitaciones.id_for_label }}">Capacitaciones</label>
                    <br />
                    {{ form.capacitaciones }}
                    <small class="help-text">{{ form.capacitaciones.help_text }}</small><br />
                    <small class="error-text">{{ form.capacitaciones.errors }}</small>
                    <br />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="{{ form.ejerce_desde.id_for_label }}">Ejerce desde:</label>
                    <br />
                    {{ form.ejerce_desde }}
                    <small class="help-text">{{ form.ejerce_desde.help_text }}</small><br />
                    <small class="error-text">{{ form.ejerce_desde.errors }}</small>
                    <br />
                  </div>
                </div>
              </div>
              <div class="row">
                <label for="{{ form.actividades.id_for_label }}">Actividades:</label>
                <br />
                {{ form.actividades }}
                <small class="help-text">{{ form.actividades.help_text }}</small><br />
                <small class="error-text">{{ form.actividades.errors }}</small>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="text-center mt-3">
            <button id="prev-button" class="btn btn-primary" style="display: none;">Anterior</button>
            <button id="next-button" class="btn btn-primary">Siguiente</button>
            <button type="submit" class="btn btn-success" style="display: none;">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block extrajs_intermedia %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/afiliado_formulario.js' %}"></script>
{% endblock %}
