{%extends "home_curso.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
    <table  class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">nombre</th>
              <th scope="col">area</th>
              <th scope="col">opcion1</th>
              <th scope="col">opcion2</th>                 
              
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for actividad in object_list %}
              <tr class="bg-transition">
                <td>{{ actividad.nombre }}</td>
                <td>{{ actividad.area }}</td>
                <td><a href="{% url 'cursos:actividad_editar' actividad.pk %}"class="btn btn-primary">Editar</a></td>
                <td><a href="{% url 'cursos:actividad_eliminar' actividad.pk %}"class="btn btn-primary">Eliminar</a></td>             
                                                           
              </tr>
              {% endfor %}  
          </tbody>
          
      </table>
    
    
    <a href="{% url 'cursos:actividad_crear' %}">Nueva</a>
{% endblock %}