{%extends "home_curso.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Actividad</th>
                <th scope="col">Costo</th>
                <th scope="col">Modulos</th>
                <th scope="col">Periodo Pago</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>    
                <th scope="col">Ver Dictados</th>   
                <th scope="col">Inscripcion</th>               
              </tr>
        </thead>
        <tbody>
            <tr>
                {% for obj in object_list %}
                <tr class="bg-transition">
                    <td>{{ obj.nombre }}</td>
                    <td>{{ obj.actividad.get_area_display }}</td>
                    <td>{{ obj.costo }}</td>
                    <td>{{ obj.modulos }}</td>
                    <td>{{ obj.get_periodo_pago_display }}</td>
                    <td><a href="{% url 'cursos:curso_editar' obj.pk %}"class="btn btn-primary">Editar</a></td>
                    <td><a href="{% url 'cursos:curso_eliminar' obj.pk %}"class="btn btn-primary">Eliminar</a></td>
                    <td><a href="{% url 'cursos:ver_dictados' obj.pk %}"class="btn btn-primary">Ver Dictados</a></td>                
                    <td><a href="{% url 'cursos:inscripcion' obj.pk %}"class="btn btn-primary">Inscripcion</a></td>                                           
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% crispy filtros %}
    <a href="{% url 'cursos:curso_crear' %}"class="btn btn-primary">Nuevo Curso</a>
{% endblock %}
        {% comment %} {% for obj in object_list %}
            <tr>
                <td>
                    {{obj.nombre}}
                </td>
                <td>
                    {{obj.area}}
                </td>
                <td>
                    <a href="{% url 'cursos:curso_editar' obj.pk %}">Editar</a>
                </td>
                <td>
                    <a href="{% url 'cursos:curso_eliminar' obj.pk %}">Eliminar</a>
                </td>
            </tr>
        {% endfor %} {% endcomment %}
