{% extends "home_curso.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha fin</th>
                <th scope="col">Aula</th>
                {% comment %}<th scope="col">Editar</th>{% endcomment %}
                <th scope="col">Clases</th>    
                <th scope="col">Detalle de clases</th>
                <th scope="col">Marcar asistencia</th>  
                <th scope="col">Titular</th>
                <th scope="col">agregar alumno</th>
                         
              </tr>
        </thead>
        <tbody>
            <tr>
                {% for dictado in object_list %}
                <tr class="bg-transition">
                    <td>{{ dictado.fecha_inicio }}</td>
                    <td>{{ dictado.fecha_fin }}</td>
                    <td>{{ dictado.aula.denominacion }}</td>
                    {% comment %}<td><a href="{% url 'cursos:curso_editar' obj.pk %}"class="btn btn-primary">Editar</a></td>{% endcomment %}
                    <td><a href="{% url 'cursos:clase_crear' dictado.pk %}"class="btn btn-primary">Nueva clase</a></td>                
                    <td><a href="{% url 'cursos:ver_clases' dictado.pk %}"class="btn btn-primary">Ver clases</a></td> 
                    <td><a href="{% url 'cursos:alumnos_dictado' dictado.curso.pk dictado.pk  %}"class="btn btn-primary">Agregar</a></td>     
                    <td><a href="{% url 'cursos:alumnos_dictado' dictado.pk  %}"class="btn btn-primary">Asistencia</a></td>                                           
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% crispy filtros %}
    <a href="{% url 'cursos:dictado_crear' curso %}"class="btn btn-primary">Nuevo Dictado</a>
{% endblock %}