{%extends "home_curso.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">fecha de inicio</th>
                <th scope="col">fecha fin</th>
                <th scope="col">aula</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>    
                <th scope="col">Ver Dictados</th>               
              </tr>
        </thead>
        <tbody>
            <tr>
                {% for obj in object_list %}
                <tr class="bg-transition">
                    <td>{{ obj.fecha_inicio }}</td>
                    <td>{{ obj.fecha_fin }}</td>
                    <td>{{ obj.aula.denominacion }}</td>
                    <td><a href="{% url 'cursos:curso_editar' obj.pk %}"class="btn btn-primary">Editar</a></td>
                    <td><a href="{% url 'cursos:curso_eliminar' obj.pk %}"class="btn btn-primary">Eliminar</a></td>
                    <td><a href="{% url 'cursos:clase_crear' obj.pk %}"class="btn btn-primary">Alta clase</a></td>                
                                                               
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% crispy filtros %}
    <a href="{% url 'cursos:curso_crear' %}"class="btn btn-primary">Nuevo Curso</a>
{% endblock %}