{% extends 'alta.html' %}

{% load crispy_forms_tags %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    <label for="aula_seleccionada">Seleccione un aula:</label>
    <br>
    <select name="aula_seleccionada" id="aula_seleccionada">
      {% for aula in aulas_disponibles %}
        <option value="{{ aula.id }}">{{ aula }} | Capacidad: {{aula.capacidad}}</option>
      {% endfor %}
    </select>

    <br>
    <br>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-sm btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-sm btn-success">Reservar Aula</button>
      </div>
    </div>

  </form>
{% endblock %}