{% extends 'detalle_listado.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block detalle %}
<div class="row">

  <div class="col-md-2">
    <p><strong>Desc. afiliados:</strong></p>
  </div>
  <div class="col-md-3">
    <p>{{ dictado.descuento }}% de descuento</p>
  </div>
  <div class="col-md-2">
    <p><strong>Titular:</strong></p>
  </div>
  <div class="col-md-3">
    <p>{{ nombre_profesor }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <p>
      <strong>Valor:</strong>
    </p>
  </div>
  <div class="col-md-3">
    <p>{{costo_parcial}} </p>
  </div>
  <div class="col-md-2">
    <p><strong>Módulos por Clase:</strong></p>
  </div>
  <div class="col-md-4">
    <p>
      {% if dictado.modulos_por_clase == 1 %}
      {{ dictado.modulos_por_clase }} módulo ({{ dictado.modulos_por_clase }} hora por clase)
      {% else %}
      {{ dictado.modulos_por_clase }} módulos ({{ dictado.modulos_por_clase }} horas por clase)
      {% endif %}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <p><strong>Total de cupos:</strong></p>
  </div>
  <div class="col-md-3">
    <p>{{ total_inscritos }}/{{ dictado.cupo }} participantes</p>
  </div>
  <div class="col-md-2">
    <p><strong>Inicio:</strong></p>
  </div>
  <div class="col-md-2">
    <p>{{ dictado.fecha }} </p>
  </div>
</div>
{% endblock %}

{% block horarios %}
<div class="d-flex justify-content-center">

<table class="table table-sm table-hover" style="width: 40%;">
  <thead>
    <tr>
      <th>Día</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Lugar asignado</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for horario in horarios %}
    <tr>
      <td>{{ horario.get_dia_semana_display }}</td>
      <td>{{ horario.hora_inicio }} hrs.</td>
      <td>{{ horario.hora_fin }} hrs.</td>
      <td>
        {% if horario.reserva %}
        {{ horario.reserva.aula }}
        {% else %}
        Sin reserva
        {% endif %}
      </td>
      
      {% if not horario.reserva %}
      <td class="text-end">
        {% if hay_reserva %}
        <a href="{% url 'cursos:asignar_aula' curso_pk=horario.dictado.curso.pk dictado_pk=horario.dictado.pk horario_id=horario.pk %}" class="btn btn-primary btn-sm btn-detalle">
          <i class="fa-solid fa-door-open"></i>Reservar Aula
        </a>
        {% else %}
            <button type="button" class="btn btn-primary btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal{{ horario.pk }}">
                <i class="fa-solid fa-door-open"></i>Reservar Aula
            </button>
        {% endif %}
      </td>
    {% endif %}
    </tr>
    <!-- Modal -->
    {% if not horario.reserva %}
    <div class="modal fade" id="exampleModal{{ horario.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Reserva de aula</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>¿Desea reservar aulas? Una vez hecha una reserva no podrá generar más horarios.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'cursos:asignar_aula' curso_pk=horario.dictado.curso.pk dictado_pk=horario.dictado.pk horario_id=horario.pk %}" class="btn btn-primary btn-sm">
              <i class="fa-solid fa-door-open"></i> Reservar
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block botones %}
  {% comment %} <div class="col d-flex justify-content-center">
    <a href="{% url 'cursos:dictado_editar' curso_pk=curso.pk dictado_pk=dictado.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a>
  </div> {% endcomment %}
  
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn btn-info btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-list"></i>
      Alumnos
    </button>
  </div>

  {% comment %} <a href="{% url 'cursos:alumno_inscripto' curso_pk=dictado.curso.pk dictado_pk=dictado.pk %}" class="btn btn-info btn-sm btn-detalle"> {% endcomment %}
    {% comment %} Lista de alumnos {% endcomment %}
    {% comment %} </a> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">Inscriptos</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if alumnos_inscritos or afiliado_inscritos or familiares_inscritos or profesores_inscritos %}
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Dni</th>
              <th>Apellido</th> 
              <th>Nombre</th>
              <th>Rol</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for inscrito in todos_inscritos_sorted %}
            <tr>
              <td>{{ inscrito.persona.dni }}</td>
              <td>{{ inscrito.persona.apellido }}</td>
              <td>{{ inscrito.persona.nombre }}</td>
              <td>
                {% if inscrito.persona.es_afiliado %}
                  Afiliado
                {% elif inscrito.persona.es_grupo_familiar %}
                  Familiar
                {% elif inscrito.persona.es_profesor %}
                  Profesor
                {% elif inscrito.persona.es_alumno %}
                  Alumno
                {% endif %}
              </td>
              <td>
                {% if inscrito.persona.es_afiliado %}
                <a href="{% url 'afiliados:afiliado_detalle' inscrito.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
                {% elif inscrito.persona.es_grupo_familiar %}
                <a href="{% url 'afiliados:familiar_detalle_' inscrito.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
                {% elif inscrito.persona.es_profesor %}
                <a href="{% url 'cursos:profesor_detalle' inscrito.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a>
                {% elif inscrito.persona.es_alumno %}
                <a href="{% url 'cursos:profesor_detalle' inscrito.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-eye"></i> FALTA HACER EL DETALLE DEL ALUMNO</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>No hay alumnos/afiliado/Grupo Familiar inscriptos.</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a href="{% url 'cursos:dictado_lista_espera' curso_pk=dictado.curso.pk dictado_pk=dictado.pk %}" 
        class="btn btn-warning btn-sm " 
        onclick="window.open(this.href, '_blank', 'width=600,height=400'); return false;">
        <i class="fa-solid fa-list"></i>
        Lista de espera
        </a>
        <a href="{% url 'cursos:verificar_persona' curso_pk=dictado.curso.pk dictado_pk=dictado.pk %}" 
        class="btn btn-primary btn-sm " 
        onclick="window.open(this.href, '_blank', 'width=600,height=400'); return false;">
         <i class="fa-regular fa-pen-to-square"></i> Inscribir
        </a>
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
{% if not  hay_reserva %}
<div class="col d-flex justify-content-center">
  <a href="{% url 'cursos:horario_crear' curso_pk=dictado.curso.pk dictado_pk=dictado.pk %}" class="btn btn-primary btn-detalle">
    <i class="fa-solid fa-plus"></i> Generar Horario
  </a>
</div>
{% endif %}

{% if todos_los_horarios_con_aula %}

{% if not clases %}
<div class="col d-flex justify-content-center">
  <a href="{% url 'cursos:generar_clases' curso_pk=curso.pk dictado_id=dictado.pk %}" class="btn btn-primary btn-detalle">
    <i class="fa-solid fa-plus"></i> Generar Clases
  </a>
</div>
{% endif %}
{% endif %}

<div class="col d-flex justify-content-end">
  <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button>
  {% include 'dictado/modal_confirm_baja.html' %}
</div>
{% endblock %}

{% block listado_asociado %}
  {% if clases %}
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th class="text-center">Asistencia</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for clase in clases %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ clase.reserva.horario.get_dia_semana_display }} {{ clase.reserva.fecha }}</td>
            <td class="text-center">  
              {% if clase.asistencia_tomada %}
              <i class="fa-solid fa-check" style="color:green"></i>
              {% else %}
              <i class="fa-solid fa-xmark" style="color:red"></i>
              {% endif %}
            </td>
            {% comment %} <a href="{% url 'cursos:clase_detalle' curso_pk = curso.pk dictado_pk = dictado.pk clase_pk = clase.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a> {% endcomment %}
            <td class="text-end">
              <a href="{% url 'cursos:clase_detalle' curso_pk=curso.pk dictado_pk=dictado.pk clase_pk=clase.pk %}" class="btn btn-primary btn-detalle btn-sm"><i class="fa-regular fa-eye"></i> Detalle</a>
              {% comment %} <a href="{% url 'cursos:clase_detalle' curso_pk = curso.pk dictado_pk = dictado.pk clase_pk = clase.pk %}" class="btn btn-primary btn-detalle"><i class="fa-regular fa-eye"></i> Detalle</a> {% endcomment %}
            </td>
          </tr>
          
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay clases asociadas.</p>
  {% endif %}
  


  {% endblock %}

  