{% extends 'alta.html' %}

{% load crispy_forms_tags %}

{% block formulario %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.nombre.label_tag }}
          {{ form.nombre }}
          <small class="error-text" style="color: red;">{{ form.nombre.error }}</small>
          <small class="form-text text-muted">{{ form.nombre.help_text }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.periodo_pago.label_tag }}
          {{ form.periodo_pago }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.profesor.label_tag }}
          {{ form.profesor }}
          <small class="error-text" style="color: red;">{{ form.profesor.error }}</small>
          <small class="form-text text-muted">{{ form.profesor.help_text }}</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.cantidad_clase.label_tag }}
          <input type="number" name="cantidad_clase" step="1" min="1" required class="form-control" value="{{ form.cantidad_clase.value|default:'' }}" />
          <small class="error-text" style="color: red;">{{ form.cantidad_clase.error }}</small>
          <small class="form-text text-muted">{{ form.cantidad_clase.help_text }}</small>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          {{ form.modulos.label_tag }}
          <input type="number" name="modulos" step="1" min="1" required class="form-control" value="{{ form.modulos.value|default:'' }}" />
          <small class="error-text" style="color: red;">{{ form.modulos.error }}</small>
          <small class="form-text text-muted">{{ form.modulos.help_text }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.cupo.label_tag }}
          <input type="number" name="cupo" step="1" min="1" required class="form-control" value="{{ form.cupo.value|default:'' }}" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.costo.label_tag }}
          <input type="number" name="costo" step="1" min="1" required class="form-control" value="{{ form.costo.value|default:'' }}" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          {{ form.descuento.label_tag }}
          <input type="number" name="descuento" step="1" min="1" required class="form-control" value="{{ form.descuento.value|default:'' }}" />
          <small class="error-text" style="color: red;">{{ form.descuento.error }}</small>
          <small class="form-text text-muted">{{ form.descuento.help_text }}</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          {{ form.asistencia_obligatoria }}
          <label for="{{ form.asistencia_obligatoria.id_for_label }}">Control de asistencia</label>
        </div>
      </div>
    </div>


    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
      <div class="col">
        <a href="{% url 'cursos:index' %}" class="btn btn-secondary">Cancelar</a>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
{% endblock %}
