{% extends 'detalle_listado.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block detalle %}
  <div class="row">
    <div class="col-md-1">
      <p>
        <strong>Dni:</strong>
      </p>
    </div>
    <div class="col-md-5">
      <p>{{ alumno.persona.dni }}</p>
    </div>

    <div class="col-md-2">
      <p>
        <strong>Ejerce desde:</strong>
      </p>
    </div>
    <div class="col">
      {% comment %} <p>{{ profesor.ejerce_desde }}</p> {% endcomment %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <p>
        <strong>Nombre:</strong>
      </p>
    </div>
    <div class="col">
      <p>{{ alumno.persona.nombre }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <p>
        <strong>Apellido:</strong>
      </p>
    </div>
    <div class="col-md-5">
      <p>{{ alumno.persona.apellido }}</p>
    </div>
</div>

{% endblock %}

{% block botones %}
<div class="col d-flex justify-content-center">
    {% comment %} <a href="{% url 'cursos:profesor_editar' profesor.pk %}" class="btn btn-primary btn-sm btn-detalle"><i class="fa-regular fa-pen-to-square"></i> Modificar</a> {% endcomment %}
  </div>

  <div class="col d-flex justify-content-end">
    {% comment %} <button type="button" class="btn btn-danger btn-sm btn-detalle" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar"><i class="fa-regular fa-circle-down"></i> Dar de Baja</button> {% endcomment %}
    {% comment %} {% include 'curso/modal_confirm_baja.html' %} {% endcomment %}
  </div>
{% endblock %}

{% block listado_asociado %}
{% if titulares %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha Inicio</th>
      <th>Curso</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for titular in titulares %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ titular.dictado.fecha }}</td>
      <td>{{ titular.dictado.curso.nombre }}</td>
      <td class="text-end">
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No hay dictados asociados.</p>
{% endif %}

{% endblock %}



{% comment %} {{ object.get_actividad_display }}
{% if mensaje %}
  <div class="alert alert-info" role="alert">registro finalizado exitosamente</div>
{% endif %} {% endcomment %}
