{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sindicato Empleado De Comercio</title>
  <link href="{% static 'Libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/base.css' %}" rel="stylesheet"/>
  <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
  <title>{% block title %}{{title}}{% endblock %}</title>
  {% block extracss %}{% endblock %}
</head>

<body>

  {% block container %}
  
  {% endblock %}
  <script src="{% static 'Libs/js/jquery.min.js' %}"></script>
  <script src="{% static 'Libs/js/popper.min.js' %}" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="{% static 'Libs/bootstrap/js/bootstrap.min.js'%}" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script src="{% static 'Libs/js/main.js' %}"></script>


  {% comment %} CAMBIAR ESTO POR ARCHIVO .JS {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  
  {% block extrajs %}{% endblock %}

</body>
</html>
