{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sindicato Empleados De Comercio</title>
  <link href="{% static 'Libs/css/normalize.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/bootstrap-5.3.1-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/base.css' %}" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
  <title>{% block title %}{{title}}{% endblock %}</title>
  {% block extracss %}{% endblock %}
</head>

<body>

  {% block container %}

  

  {% endblock %}
  <script src="{% static 'Libs/js/jquery.min.js' %}"></script>
  <script src="{% static 'Libs/js/popper.min.js' %}"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="{% static 'Libs/bootstrap-5.3.1-dist/js/bootstrap.min.js'%}"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
  <script src="{% static 'Libs/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'Libs/js/main.js' %}"></script>

  {% block extrajs %}{% endblock %}

</body>
<script type="text/javascript" src="http://127.0.0.1:35729/livereload.js"></script>
</html>
