{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sindicato Empleado De Comercio</title>
  <link href="{% static 'Libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />
  <link href="{% static 'Libs/css/base.css' %}" rel="stylesheet"/>
  <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}" />
  <title>{% block title %}{{title}}{% endblock %}</title>
  {% block extracss %}{% endblock %}
</head>

<body>
{% block nav %}
{% include 'nav_index.html' %}
{% endblock %}

  {% block container %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/tablas.js' %}"></script>
  <script type="text/javascript" src="{% static '/libs/jquery/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/custom-inlines.js' %}"></script>
  <script src="{% static 'js/unidades.js' %}"></script>
  <script src="{% static 'js/modals.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>

</html>