{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'Libs/css/home.css' %}" rel="stylesheet"/>
    <link href="{% static 'Libs/css/nav_top.css' %}" rel="stylesheet"/>
    {{ buscador.media.css }}
{% endblock%}

{% block container %}

  {% block nav_top %}
  {% include 'nav_top.html' %}
  {% endblock %}
  
	<div class="wrapper d-flex align-items-stretch">
    {% block nav_lateral %}
      {% include 'nav_lateral.html' %}
    {% endblock %}
    
    <div id="content" class="p-4 p-md-5 pt-5">
      {% block dinamica %}
      {% include 'index.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block extrajs %}
{{ buscador.media.js }}
<script type="text/javascript">
    $('.django-select2').on("change", () => console.log("hola"));
</script>
{% endblock %}

