{% load static %} {% block dinamica %} {% block extracss %}
<link href="{% static 'Libs/css/home.css' %}" rel="stylesheet" />
{% endblock extracss %} {% comment %}

{% load static %}

{% block dinamica %}



{% endcomment %}

<h2>
  <center>Operaciones Frecuentes</center>
</h2>

<div class="container text-center">
  <div class="row">

    <div class="col-sm-5 col-md-6">
      <a title="afiliado" href="{% url 'afiliados:afiliado_crear' %}">
        <img class="img" src="{% static 'images/agregar-usuario.png' %}" alt="img" />
      </a>
      <h2 class="titulo">Afiliado</h2>
    </div>

    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">

      <a title="afiliado" href="{% url 'cursos:curso_crear' %}">
        <img src="{% static 'images/curso.png' %}" alt="img" />
      </a>
      <h2 class="titulo">Curso</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-5 col-lg-6">
      <img src="{% static 'images/alquiler.png' %}" alt="img" />

      <h2 class="titulo">Alquiler</h2>
    </div>
    <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
      <img src="{% static 'images/pagos.png' %}" alt="img" />
      <h2 class="titulo">pagos</h2>
    </div>
  </div>
</div>
{% endblock %}
