{% load static %}

{% block dinamica %}
{% comment %} <h1><center>Operaciones mas recurrentes</center></h1>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alta de afiliado</h5>
        <a href="#" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alta de curso</h5>
        <a href="#" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Regristro de pago</h5>
        <a href="#" class="btn btn-primary">falta enlazar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Generar Alquiler</h5>
        <a href="#" class="btn btn-primary">falta enlazar</a>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% endblock %}
