{% load static %}

{% block extracss %}
<link href="{% static 'Libs/css/menu.css' %}" rel="stylesheet"/>
{% endblock%}

<div class="content-fluid menu-izquierda">
    <div class="flex-shrink-0 p-3 bg-white menu" style="width: 220px;">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Gestión de afiliados
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Alta de afiliado</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Listado de afiliados</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Gestión de alquileres
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Alquilar salon</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Listado de salones</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            Gestión de cursos
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Alta de cursos</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Listar cursos</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Incribir alumno</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
      </ul>
    </div>
</div>

{% block extrajs %}
<script src="{% static 'Libs/js/menu.js'}"></script>
{% endblock %}