{% load static %}
{% load crispy_forms_tags %}

{% block extracss %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link href="{% static 'Libs/css/nav_lateral.css' %}" rel="stylesheet"/>
{% endblock%}

<nav id="sidebar">
    <div class="p-4">
      <h1><a class="logo">Filtros</a></h1>
      {% crispy filtros %}
    </div>
  </nav>

{% block extrajs %}
<!--!YA ESTA EN EL BASE LOS SIGUIENTES SCRIPT  -->
<!-- <script src="{% static 'Libs/js/jquery.min.js' %}"></script>
<script src="{% static 'Libs/js/popper.js' %}"></script>
<script src="{% static 'Libs/js/main.js' %}"></script> -->
{% endblock %}