{% load static %}

{% block extracss %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link href="{% static 'Libs/css/nav_lateral.css' %}" rel="stylesheet"/>
{% endblock%}

<nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" style="z-index:10">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <h1><a href="{% url 'afiliados:index' %}" class="logo">AFILIADOS</a></h1>
      <h1><a href="{% url 'home' %}" class="logo"><span>Volver al menu principal</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="{% url 'afiliados:afiliado_crear' %}"><span class="fa fa-arrow-circle-up mr-3"></span>Alta de afiliados</a>
        </li>
        <li class="active">
          <a href="{% url 'afiliados:afiliado_listar' %}"><span class="fa fa-id-badge mr-3"></span>Lista de afiliados</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-check-square mr-3"></span>Aceptar afiliado</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-users mr-3"></span>Grupo familiar</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa fa-window-close mr-3"></span>Dar de baja</a>
        </li>
      </ul>

      <div class="mb-5">
        <a href="https://www.youtube.com/watch?v=dMKT4RfHChc" target="_blank"><h3 class="h6 mb-3">->La banda de luxo<-</h3></a>
        <h5 class="h6 mb-3">se vienen cositas</h5>
      </div>
      
      <div class="footer">
        <p>© 2022 Sindicato Empleados de Comercio | SEC2. Todos los derechos reservados
        </p>
      </div>

    </div>
  </nav>

{% block extrajs %}
<script src="{% static 'Libs/js/jquery.min.js' %}"></script>
<script src="{% static 'Libs/js/popper.js' %}"></script>
<script src="{% static 'Libs/js/main.js' %}"></script>
{% endblock %}