{% load static %}
<style>
  form.search
 {
    width: 500px
  }
  form.search > span > span.selection > span
 {
    width: 400px
  }
    span.select2-dropdown {
      width: 400px !important;
    }
</style>

<nav class="navbar navbarPersonalizado" style="padding:0px">
  <div class="container-fluid cabecera">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img id="logo" src="{% static 'images/logo.png'%}" alt="My image"/>
    </a>
    <form class="search" role="search" >
      {% for field in buscador.visible_fields %}
       {{field}}
       {% endfor %}
    </form>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
