{% load static %}

{% block extracss %}
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
  <link href="{% static 'Libs/css/nav_lateral_aplicaciones.css' %}" rel="stylesheet" />
{% endblock %}

<br />

<ul class="menu" id="menu_curso">
  <li>
    <a id="mostrarMenuPrincipal" href="/home"><i class="fa-solid fa-arrow-left-long"></i> Volver</a>
  </li>
  <br />
  <h4 class="text-center">ACTIVIDADES</h4>
  <li>
    <a href="{% url 'cursos:actividad_crear' %}"><i class="fa-solid fa-plus"></i> Alta de actividades</a>
  </li>
  <li>
    <a href="{% url 'cursos:actividad_listado' %}"><i class="fa-solid fa-list"></i> Lista de actividades</a>
  </li>
  <br />
  <h4 class="text-center">CURSOS</h4>
  <li>
    <a href="{% url 'cursos:curso_crear' %}"><i class="fa-solid fa-plus"></i>Crear curso</a>
  </li>
  <li>
    <a href="{% url 'cursos:cursos' %}"><i class="fa-solid fa-list"></i>Lista de cursos</a>
  </li>
  <br />

  <h4 class="text-center">AULAS</h4>
  <li>
    <a href="{% url 'cursos:aula_crear' %}"><i class="fa-solid fa-plus"></i>Crear aula</a>
  </li>
  <li>
    <a href="{% url 'cursos:aulas' %}"><i class="fa-solid fa-list"></i> Lista de aula</a>
  </li>
  <br />

  <h4 class="text-center">PROFESOR</h4>
  <li>
    <a href="{% url 'cursos:profesor_crear' %}"><i class="fa-solid fa-plus"></i>Alta de profesor</a>
  </li>
  <li>
    <a href="{% url 'cursos:profesores' %}"><i class="fa-solid fa-list"></i>Lista de profesores</a>
  </li>
  <br />

  <h4 class="text-center">PAGO</h4>
  <li>
    <a href="{% url 'cursos:pago_alumno' %}"><i class="fa-solid fa-sack-dollar"></i>pago de alumnos</a>
  </li>
</ul>

{% block extrajs %}

{% endblock %}
