{% load static %}

{% block extracss %}
    <link href="{% static 'Libs/css/piepagina.css' %}" rel="stylesheet"/>
{% endblock%}

<div class="pieDePagina">
    <div class="row">
        <div class="col">
            <span>+54 9 XXX XX XXXX</span>
            <span>Gaiman, Chubut Argentina</span>
        </div>
          <div class="col order-1">
            <p>SEC2</p>
          </div>
        </div>
        <div class="row">
          <p id="copyright">© 2022 Sindicato Empleados de Comercio | SEC2. Todos los derechos reservados</p>
        </div>
      </div>