{% load static %}

{% block extracss %}
    <link href="{% static 'Libs/css/piepagina.css' %}" rel="stylesheet"/>
{% endblock%}

  <div class="row pieDePagina">
    <div class="col">
      <img id="logo" src="{% static 'images/logo.png'%}" alt="My image"/>
    </div>
    <div class="col order-1">
      <span>+54 9 XXX XX XXXX</span>
      <span>Gaiman, Chubut Argentina</span>
      <p>SEC2</p>
    </div>
  </div>
  <div class="row text-center">
    <p id="copyright">© 2022 Sindicato Empleados de Comercio | SEC2. Todos los derechos reservados</p>
  </div>

