{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <link href="{% static 'Libs/css/sistema.css' %}" rel="stylesheet"/>
{% endblock%}


{% block container %}
{% include 'nav_sistema.html' %}



<div class="container-fluid contenedor_principal">
    <div class="row">
        <div class="col-lg-2 menu">
            
            {% block nav %}
            {% include 'menu.html' %}
            {% endblock %}

        </div>
        <div class="col area_dinamica container-fluid" style="width:70%">
            <div class="container-fluid" style="width:70%">
            {%block area_dinamica %}
            {%endblock%}
            </div>
        </div>
    </div>
</div>


{% endblock %}
