{% extends 'main.html' %}
{% load static %}

{% block extracss %}
{% comment %} <link rel="stylesheet" href="{% static 'libs/bocss/sidebars.css' %}" /> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/accesos-directos.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> {% endcomment %}

{% endblock %} 

{% block container %}

      <div class="row mt-4 d-flex justify-content-evenly align-items-center">
        
        <a href="{% url 'crearAfiliado' %}" class="col-md-3 shadow-lg acceso">
          <h2><i class="fas fa-user"></i> Registrar afiliado</h2>
          <p>
            <i class="fas fa-plus-circle agregar"></i> Dar de alta un nuevo afiliado.
          </p>
        </a>

      </div>
      
{% endblock %}