{% extends 'app_cursos_alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<form method="post">
    {% csrf_token %}
    
    <input type="hidden" id="total_a_pagar" name="total_a_pagar" value="">
    <input type="hidden" id="datos_dictados" name="datos_dictados" value="">
    
    <div class="row">
        <div class="col-12">
            <div class="tab-content" id="form-tabs-content">
            
                {% comment %}SECCION 1{% endcomment %}
                <div id="section1" class="tab-pane fade show active">
                    <label>Seleccione al Alumno:</label>
                    <div class="form-group">
                        <select name="alumno" id="enc_alumno">
                            <option value="0"> --------------- </option>
                            {% for alumno in alumnos %}
                                <option value="{{ alumno.alumnos.pk }}">{{ alumno.alumnos.persona.dni }} - {{ alumno.alumnos.persona.apellido }} {{ alumno.alumnos.persona.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="datos_titular"></div>

                </div>
            
                {% comment %}SECCION 2{% endcomment %}
                <div id="section2" class="tab-pane fade">
                    <div id="seleccionados"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <button id="prev-button" class="btn btn-primary" style="display: none;">Anterior</button>
                <button id="next-button" class="btn btn-primary">Siguiente</button>
                <button type="submit" class="btn btn-success" style="display: none;">Guardar</button>
            </div>
        </div>
    </div>
</form>

<!-- Incluir archivo estático de Select2 desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/afiliado_formulario.js' %}"></script>

<script>
    $(function () {
      //$("#enc_alumno").select2();
    }); 

    var jq = $.noConflict();

    jq(document).ready(function() {

        jq('#enc_alumno').change(function() {
            var rol_id = jq(this).val();
            var url = 'get_dictados_por_alumno/';
    
            if (rol_id && rol_id !== '0') {
                jq.ajax({
                    url: '../../' + url + rol_id,
                    type: 'GET',
                    data: {},
                    dataType: 'json',
                    success: function(data) {
                        var datosDiv = $('#datos_titular');
                        var html = '<p>Seleccione el dictado:</p>';
    
                        html += '<ul>';
                        // Iterar sobre cada dictado
                        data.dictados.forEach(function(dictado) {
                            html += '<label>';
                            //html += '<input type="checkbox" name="dictado" value="' + dictado.pk + '">';
                            html += '<input type="checkbox" name="dictado" value="' + dictado.pk + '" data-precio="' + dictado.precio + '" data-precio_con_descuento="' + dictado.precio_con_descuento + '" data-tipo_pago="' + dictado.tipo_pago + '" data-nombre="' + dictado.nombre + '" data-descuento="' + dictado.descuento + '">';

                            html += ' ' + dictado.nombre;
                            
                            if (dictado.descuento > 0) {
                                html += ' $' + dictado.precio_con_descuento + ' ' + dictado.tipo_pago;
                                html += ' (Descuento aplicado)';
                            }else{
                                html += ' $' + dictado.precio + ' ' + dictado.tipo_pago;
                            }
                            html += '</label>';
                        });
                        html += '</ul>';
    
    
                        datosDiv.html(html);
    
                        // Actualiza los campos ocultos
                        jq('#datos_dictados').val(JSON.stringify(data.dictados)); // Actualiza el campo oculto con los datos de los dictados
                    }
                });
            } else {
                // Limpiar el contenido del div
                $('#datos_titular').html('');
            }
        });
    });
    
</script>


<script>
    $(document).ready(function () {
        var currentTab = 1;

        function updateButtons() {
            if (currentTab === 1) {
                $('#prev-button').hide();
            } else {
                $('#prev-button').show();
            }

            if (currentTab === 2) {
                $('#next-button').hide();
                $("button[type='submit']").show();
            } else {
                $('#next-button').show();
                $("button[type='submit']").hide();
            }
        }

        updateButtons(); // Llama a esta función al cargar la página

        $('#next-button').click(function (e) {
            e.preventDefault(); // Previene el comportamiento predeterminado del botón

            if (currentTab === 1) {
                $('#section1').removeClass('show active');
                $('#tab-section-1').removeClass('active');
                $('#section2').addClass('show active');
                $('#tab-section-2').addClass('active');
                currentTab = 2;
            } else if (currentTab === 2) {
                // Aquí puedes realizar validaciones antes de avanzar
            }
            updateButtons(); // Actualiza los botones
        });

        $('#prev-button').click(function (e) {
            e.preventDefault(); // Previene el comportamiento predeterminado del botón

            if (currentTab === 2) {
                $('#section2').removeClass('show active');
                $('#tab-section-2').removeClass('active');
                $('#section1').addClass('show active');
                $('#tab-section-1').addClass('active');
                currentTab = 1;
            }
            updateButtons(); // Actualiza los botones
        });

        // Captura el cambio en los checkboxes y actualiza la sección 2
        $(document).on('change', 'input[name="dictado"]', function () {
            var seleccionados = [];
            $('input[name="dictado"]:checked').each(function () {
                seleccionados.push({
                    valor: $(this).val(),
                    nombre: $(this).data('nombre'),
                    precioConDescuento: $(this).data('precio_con_descuento'),
                    tipo_pago: $(this).data('tipo_pago'),
                    descuento: $(this).data('descuento'),
                    precio: $(this).data('precio'), // Obtiene el precio desde el atributo data-precio
                    cantidad: 1,
                });
            });
            var tableHTML = '<table>';
                tableHTML += '<thead>';
                tableHTML += '<tr>';
                tableHTML += '<th>Descripción</th>';
                tableHTML += '<th>Precio</th>';
                tableHTML += '<th>Descuento</th>';
                tableHTML += '<th>Precio con desc.</th>';
                tableHTML += '<th>Cantidad</th>';
                tableHTML += '<th>SubTotal</th>';
                tableHTML += '</tr>';
                tableHTML += '</thead>';
                tableHTML += '<tbody>';
                for (var i = 0; i < seleccionados.length; i++) {
                    tableHTML += '<tr>';tableHTML += '<td>';
                            tableHTML += '<label>';
                            tableHTML += seleccionados[i].nombre;
                            tableHTML += '</label>';
                        tableHTML += '</td>';

                        tableHTML += '<td> $';
                            tableHTML += seleccionados[i].precio;
                        tableHTML += '</td>';
                        tableHTML += '<td> ';
                            tableHTML += seleccionados[i].descuento;
                        tableHTML += '%</td>';

                        tableHTML += '<td> $';
                            tableHTML += seleccionados[i].precioConDescuento;
                        tableHTML += '</td>';
                        
                        tableHTML += '<td>';
                            tableHTML += '<input type="number" class="cantidad" value="' + seleccionados[i].cantidad + '" min="1" data-index="' + i + '">'; // Agrega un atributo data-index para identificar el índice del elemento seleccionado
                        tableHTML += ' </td>';

                        var precioTotal = seleccionados[i].precioConDescuento * seleccionados[i].cantidad; // Calcula el precio total
                        tableHTML += '<td class="subtotal">';
                            tableHTML += '$' + precioTotal.toFixed(2); // Muestra el precio total
                        tableHTML += '</td>';
                        
                        tableHTML += '</tr>';
                }
                tableHTML += '</tbody>';
                tableHTML += '</table>';
                
                tableHTML += '<br>';
                tableHTML += '<br>';
                tableHTML += '<br>';
                tableHTML += '<p> TOTAL <p>';
            
            $('#seleccionados').html(tableHTML); // Actualiza el contenedor con los checkboxes seleccionados
        });

        // Captura el cambio en los campos de cantidad y actualiza los subtotales
        $(document).on('change', '.cantidad', function () {
            var index = $(this).data('index'); // Obtiene el índice del elemento seleccionado
            var cantidad = parseInt($(this).val());
            
            if (cantidad == 0){
                alert("La cantidad no puede ser 0")
                cantidad = 1; // Establece la cantidad a 1
                $(this).val(1); // Actualiza el valor del campo de cantidad en el HTML
            }

            var precioTotal = parseFloat($(this).closest('tr').find('td:nth-child(4)').text().replace('$', '')); // Obtiene el precio con descuento
            var subtotal = cantidad * precioTotal;
            $(this).closest('tr').find('.subtotal').text('$' + subtotal.toFixed(2)); // Actualiza el subtotal en la tabla
            // Actualiza la cantidad en el arreglo seleccionados
            // Verifica si el índice es válido antes de actualizar la cantidad en el arreglo seleccionados
            if (index >= 0 && index < seleccionados.length) {
                seleccionados[index].cantidad = cantidad;
            }
        });
    });
</script>


{% endblock %}
