{% extends 'app_cursos_alta.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <label>Seleccione al Titular:</label>
            <div class="form-group">
                <select name="enc_profesor" id="enc_profesor">
                    <option value="0"> --------------- </option>
                    {% for profesor in profesores %}
                        <option value="{{ profesor.pk }}">{{ profesor.persona.dni }} - {{ profesor.persona.apellido }} {{profesor.persona.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div id="datos_titular"></div>

    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Pagar</button>
            </div>
        </div>
    </div>

</form>

<!-- Incluir archivo estático de Select2 desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(function () {
      $("#enc_profesor").select2();
    }); 

    var jq = $.noConflict();

    jq(document).ready(function() {

        jq('#enc_profesor').change(function() {
            var titular_id = jq(this).val();
            var url = 'get_dictados_por_titular/';
            console.log(url);
    
            if (titular_id && titular_id !== '0') {
                jq.ajax({
                    url: '../' + url + titular_id,
                    type: 'GET',
                    data: {
                        //'pk': titular_id
                    },
                    dataType: 'json',
                    success: function(data) {

                        var total = data.valor_total;
                        var datosDiv = $('#datos_titular');
                        var html = '<p>Dictados a pagar:</p>';

                        html += '<ul>';
                        // Iterar sobre cada dictado
                        data.dictados.forEach(function(dictado) {
                            html += '<li>' + dictado.nombre + ', Precio: $' + dictado.precio + '</li>';
                        });
                        html += '</ul>';

                        html += '<p> Total a pagar <strong>$' + total + '</strong></p>';

                        datosDiv.html(html);
                    },
                });
            }else{
                // Limpiar el contenido del div
                $('#datos_titular').html('');
            }
        });
    });
</script>





{% endblock %}
