{% extends 'reporte_appAlquiler.html' %}

{% block grafico %}

    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
        </div>

    </div>

    <script type="application/javascript">
        // Obtén los datos y las categorías del contexto
        var data_list = {{ graph_alquileres.data_list|safe }};
        var categories = {{ graph_alquileres.categories|safe }};
        var y_axis_title = "{{ graph_alquileres.y_axis_title }}";
        
        alert(categories)
        Highcharts.chart('container', 
        {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Reporte de alquileres del año', 
                align: 'left'
            },
            subtitle: {
                text:'Reporte',
                align: 'left'
            },
            xAxis: {
                categories: categories,  // Usa las categorías del contexto
                crosshair: true,
                accessibility: {
                    description: 'Countries'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: y_axis_title  // Usa el título del eje Y del contexto
                }
            },
            tooltip: {
                valueSuffix: ' (1000 MT)'
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: 
            [
                {
                    name: 'Cantidad de alquileres',
                    data: data_list
                }
            ]
        });
    </script>


{% endblock %}
