{% extends 'reporte_appCurso.html' %}

{% block grafico %}


<label>Seleccione un curso para vizualizar su informacion completa</label>
<div class="form-group">
    <select name="alumno" id="enc_alumno" onchange="deshabilitarResultadosPersona()">
        <option value="" disabled selected hidden>---------------</option>
        {% comment %} {% for alumno in alumnos %}
            <option value="{{ alumno.alumnos.pk }}">{{ alumno.alumnos.persona.dni }} - {{ alumno.alumnos.persona.apellido }} {{ alumno.alumnos.persona.nombre }}</option>
        {% endfor %} {% endcomment %}
    </select>

    <button class="btn btn-outline-success" type="button" onclick="obtenerDictadosPorAlumno()">
        <i class="fa-solid fa-magnifying-glass"></i>
        </button>
</div>



 <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
    </p>
</figure>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
        </div>
    </div>
</div>


<script type="application/javascript">
   
        var datos =  {{ datos|safe }};
    
        console.log(datos); // Ahora deberías ver tus datos en la consola sin errores
    
        Highcharts.chart('container', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Inscritos por Curso año '+ {{year}} 

            },
            tooltip: {
                valueSuffix: ' estudiantes'
            },
            series: [{
                name: 'Inscritos',
                colorByPoint: true,
                data: datos.map(item => ({
                    name: item.curso__nombre,
                    y: item.afiliados_count + item.familiares_count + item.profesores_count + item.alumnos_count
                }))
            }]
        });

    </script>


{% endblock %}