{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block dinamica %}
<h1><center>Lista de afiliados</center></h1>

<div class="container-sm">
   {% comment %} <div class="btn-group dropend estado" >
    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Estado de Afiliado
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'afiliados:afiliado_listar' %}?estado=2">Activo</a></li>
      <li><a class="dropdown-item" href="{% url 'afiliados:afiliado_listar' %}?estado=1">Pendiente a confirmacion</a></li>
      <li><a class="dropdown-item" href="{% url 'afiliados:afiliado_listar' %}?estado=3">Inactivo</a></li>
    </ul>
  </div> {% endcomment %}
  
  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover" style="background-color:gray;solid; ; border-radius: 10px;">
      <thead>
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">CUIT empleador</th> 
          <th scope="col">Categoria laboral</th> 
          <th scope="col">Domicilio empresa</th> 
          <th scope="col">Editar</th>   
          <th scope="col">desafiliar</th>
         {% comment %} <th scope="col">Estado</th>
          <th scope="col" class="text-center">Opcion</th>{% endcomment %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for afiliado in object_list %}
          <tr class="bg-transition">
            <td>{{ afiliado.persona.dni }}</td>
            <td>{{ afiliado.persona.apellido }}</td>
            <td>{{ afiliado.persona.nombre }}</td>
            <td>{{ afiliado.persona.fecha_nacimiento }}</td>
            <td>{{ afiliado.cuit_empleador }}</td> 
            <td>{{ afiliado.categoria_laboral }}</td> 
            <td>{{ afiliado.domicilio_empresa }}</td> 
            <td><a href="{% url 'afiliados:modificarAfiliado' afiliado.pk %}"class="btn btn-primary">Editar</a></td>
                       {% comment %} <td><a href="{% url 'cursos:ver_dictados' profesor.pk %}"class="btn btn-primary">Dictados</a></td> 
                         <td><a href="{% url 'cursos:inscripcion' profesor.pk %}"class="btn btn-primary">Inscripción</a></td> {% endcomment %}
                        <td>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_eliminar">
                                desafiliar
                            </button>
                            <div class="modal fade" id="exampleModal_eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div> 
                                        <div class="modal-body">
                                            <h5>¿Estas seguro que deseas desafiliar al afiliado?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            <a href="{% url 'afiliados:desafiliar_afiliado' afiliado.pk %}"class="btn btn-danger">desafiliar</a>                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
           {% comment %} {% if afiliado.estado == 1 %}
              <td>PENDIENTE</td>
              <td class="text-center">
                <a href= "{% url 'afiliados:modificarAfiliado' afiliado.pk %}" class="btn btn-primary">Editar</a>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal_aceptar">
                  Aceptar
                </button>
                <div class="modal fade" id="exampleModal_aceptar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h5>¿Estas seguro que deseas aceptar al afiliado?</h5>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a href= "{% url 'afiliados:aceptar_afiliado' afiliado.pk %}" class="btn btn-success">Aceptar</a>
                      </div>
                    </div>
                  </div>
                </div>
                
              </td>
            {% endif %}

            {% if afiliado.estado == 2 %}
              <td> ACTIVO</td>
              <td class="text-center">
                <a href= "{% url 'afiliados:ver_Afiliado' afiliado.pk %}" class="btn btn-primary">Ver</a>
                <a href= "{% url 'afiliados:modificarAfiliado' afiliado.pk %}" class="btn btn-primary">Editar</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal_desafiliar">
                  Desafiliar
                </button>
                <div class="modal fade" id="exampleModal_desafiliar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h5>¿Estas seguro que deseas desafiliar?</h5>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a href= "{% url 'afiliados:desafiliar_afiliado' afiliado.pk %}" class="btn btn-danger">Desafiliar</a>
                      </div>
                    </div>
                  </div>
                </div>
                <p></p>
                <a href= "{% url 'personas:crear_familiar' afiliado.pk %}" class="btn btn-primary">Grupo Familiar</a>
              </td>

            {% endif %}

            {% if afiliado.estado == 3 %}
              <td>INACTIVO</td>
              <td class="text-center">
                <a href= "{% url 'afiliados:ver_Afiliado' afiliado.pk %}" class="btn btn-primary">Ver</a>
              </td>
            {% endif %}{% endcomment %}
            {% comment %} <a href= "{% url 'personas:crear_familiar' afiliado.pk %}" class="btn btn-primary">Grupo Familiar</a> {% endcomment %}

          </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div> 
  {% comment %} si se borra un div se descoloca todo {% endcomment %}
  </div>
</div>
{% block nav_lateral_filtro %}
{% include 'nav_filtro_afiliado.html' %}
{% endblock %}

{% endblock %}

