{%extends "sistema.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}

<div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">nombre</th>
        <th scope="col">rol</th>
        <th scope="col">dni</th>
        <th scope="col">fecha_nacimiento</th>
        <th scope="col">cuit_empleador</th>
        <th scope="col">categoria_laboral</th>
        <th scope="col">domicilio_empresa</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for afiliado in object_list %}
        <tr class="bg-transition">
          <td>{{ afiliado.persona.nombre }}</td>
          <td>{{ afiliado.rol.tipo }}</td>
          <td>{{ afiliado.persona.dni }}</td>
          <td>{{ afiliado.persona.fecha_nacimiento }}</td>
          <td>{{ afiliado.cuit_empleador }}</td>
          <td>{{ afiliado.categoria_laboral }}</td>
          <td>{{ afiliado.domicilio_empresa }}</td>
        </tr>
        {% endfor %}  
    </tbody>
  </table>
</div>

{% endblock %}