{% extends 'home_afiliado.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block extracss_intermedia %}
<link href="{% static 'css/afiliado_detalle.css' %}" rel="stylesheet" />
{% endblock %}

{% block dinamica %}
<div class="container ">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
        <div class="col">
            <h1 id="titulo-modificar">Modificar datos</h1>
        </div>
    </div>
</div>

<br>

<form method="post" id="miFormulario">
    {% csrf_token %}
    <fieldset>
        <div class="container border p-3 mb-3 col-md-6 offset-md-3">
            <h3>Datos personales</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
                <div class="col">
                    <!--! porque no muestra mi Dni -->
                    <p>Dni * {{ form.dni }}</p>
                </div>
                <div class="col">
                    <p>Cuil * {{form.cuil}}</p>
                </div>
                <div class="col">
                    <p>Nombre * {{ form.nombre }}</p>
                </div>
                <div class="col">
                    <p>Apellido * {{ form.apellido }}</p>
                </div>
                <div class="col">
                    <p>Fecha nacimiento * {{ form.fecha_nacimiento }}</p>
                </div>
                <div class="col">
                    <p>Celular * {{ form.celular }} </p>
                </div>
                <div class="col">
                    <p>Dirección * {{ form.direccion }} </p>
                </div>
                <div class="col">
                    <p>Nacionalidad * {{ form.nacionalidad }}</p>
                </div>
                <div class="col">
                    <p>Email * {{ form.mail }}</p>
                </div>
                <div class="col">
                    <p>Estado civil * {{ form.estado_civil }} </p>
                </div>
            </div>
        </div>

        <div class="container border p-3 mb-3 col-md-6 offset-md-3" id="datos-laborales">
            <h3>Datos de afiliación</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
                <div class="col">
                    <p>Razon social * {{ form.razon_social }}</p>
                </div>
                <div class="col">
                    <p>Categoria laboral * {{ form.categoria_laboral }}</p>
                </div>
                <div class="col">
                    <p>Rama a la que se dedica * {{ form.rama }} </p>
                </div>
                <div class="col">
                    <p>Sueldo * {{ form.sueldo }}</p>
                </div>
                <div class="col">
                    <p>Fecha Afiliación * {{ form.fechaAfiliacion }}</p>
                </div>
            </div>
        </div>

        <div class="container border p-3 mb-3 col-md-6 offset-md-3" id="datos-laborales">
            <h3>Datos empresariales</h3>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
                <div class="col">
                    <p>Fecha de ingreso * {{ form.fechaIngresoTrabajo }}</p>
                </div>
                <div class="col">
                    <p>Cuit empleador * {{ form.cuit_empleador }}</p>
                </div>
                <div class="col">
                    <p>Localidad empresa * {{ form.localidad_empresa }} </p>
                </div>
                <div class="col">
                    <p>Domicilio de la empresa * {{ form.domicilio_empresa }}</p>
                </div>
                <div class="col">
                    <p>Hora jornada * {{ form.horaJornada }} </p>
                </div>
            </div>
        </div>

        <div class="container text-center">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                <div class="col">
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
                <div class="col">
                    <input type="submit" value="Finalizar" class="btn btn-success" id="btn-guardar">
                </div>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}

{% block extrajs_intermedia %}

<script src="{% static 'js/afiliado_detalle.js' %}"></script>
{% endblock %}