{% extends 'alta_gestion_afiliados.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block formulario %}
<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col">
            <label for="{{ form.cuit_empleador.id_for_label }}">Cuit del empleador:</label>
            {{form.cuit_empleador}}
            {% include "error_campo.html" with field=form.cuit_empleador %}
        </div>
        
        <div class="col">
            <label>Seleccione al afiliado:</label>
            <div class="form-group">
                <select name="enc_afiliado" id="enc_afiliado">
                  <option value="0"> --------------- </option>
                  {% for item in afiliados %}
                    <option value="{{item.id}}">{{item.persona.dni}} {{item.persona.nombre}} {{item.persona.apellido}}</option>
                  {% endfor %}
                </select>
              </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <label for="{{ form.monto.id_for_label }}">Monto:</label>
            {{form.monto}}
            {% include "error_campo.html" with field=form.monto %}

        </div>

        <div class="col">
            <label for="{{ form.fecha_pago.id_for_label }}">Fecha de pago</label>
            {{form.fecha_pago}}
            {% include "error_campo.html" with field=form.fecha_pago %}

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            {{form.pdf_transferencia}}
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>

</form>

<!-- Incluir archivos estáticos de Select2 desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script>
  $(function () {
    $("#enc_afiliado").select2();
  });
</script>


{% endblock %}
